/*------------------------------------*\
  Locations
\*------------------------------------*/
#ion-locations-hq {
  &.flex {
    margin-bottom: $space2;
    .ion-location-content {
      @include for-size(tablet-portrait-up) {
        padding-left: $space2;
      }
      h2 {
        margin-top: 0;
        font-size: $font2;
      }
      .location-info {
        display: flex;
        margin-top: $space1;
        background-color: $ionGrey3;
        padding: $space-1;
        .location-phone, .location-address p{
          font-size: $font-2;
          font-weight: 600;
          text-transform: uppercase;
          color: $ionOlive;
          margin-top: 0px;
        }
        .location-address {
          margin-right: $space-1;
        }
      }
    }
  }
}
#ion-locations-secondary {
  &.flex {
    margin: 0 -1em;
    .ion-location {
      padding: 0 1em;
      margin-bottom: 2em;
      .location-address {
        margin-top: $space1;
      }
    }
  }
}
.location-phone {
  margin-top: 1em;
  a {
    display: block;
    font-weight: 700;
  }
}
.content-inner .country-locations {
  margin: 0 -1em;
  .country-location {
    padding: 0 .5em 2em;
    width: 50%;
    @include for-size(tablet) {
      width: calc(100% / 3);
    }
  }
  .country-name {
    margin: 0 0 .5em;
  }
}

/*------------------------------------*\
  Team
\*------------------------------------*/

#team-section {
  .team-member {
    margin-bottom: 32px;
    .team-image-container {
      position: relative;
      @include for-size(tablet-portrait-up) {
        width: calc((100% / 12) * 4)!important;
      }
      .team-image {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        margin-bottom: 2em;
        @include for-size(tablet-portrait-up) {
          margin-bottom: 0;
        }
      }
    }
    .team-content {
      @include for-size(tablet-portrait-up) {
        padding-left: 24px;
        width: calc((100% / 12) * 7)!important;
      }
      h5{
        margin: 0 0 5px;
        font-size: $font3;
        @include for-size(tablet-portrait-up) {
          font-size: $font4;
        }
      }
      h6 {
        margin: 0 0 16px;
        font-weight: 400;
        color: $ionGrey1;
      }
      p {
        margin: 0 0 16px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

/*------------------------------------*\
   History
\*------------------------------------*/
#history-container {
  .history-slider-arrows {
    display: flex;
    justify-content: flex-end;
    margin-bottom: $space1;
    .arrow-prev {
      margin-right: 10px;
    }
  }
  .history-year-image-container {
    .flex {
      flex-direction: column;
      @include for-size(tablet-portrait-up) {
        flex-direction: row;
      }
    }
    .year-image-content {
      h5 {
        margin: 0px auto 1em auto;
      }
      @include for-size(tablet-portrait-up) {
        max-width: 250px;
        padding-right: 3em;
        h5 {
          margin: 0px auto $space1 auto;
        }
      }
    }
    .history-year-image {
      flex: 1;
      @include for-size(tablet-portrait-up) {
        min-height: 250px;
      }
      @include for-size(tablet-landscape-up) {
      }
    }
  }
  #history-year-images {
    &::after {
      content: '';
      position: relative;
      display: block;
      border-style: solid;
      border-width: $space-3 $space-3 0 $space-3;
      border-color: $ionGreen transparent transparent transparent;
      width: 0px;
      margin-left: calc(#{$space-3} * -1);
      margin-top: $space-1;
    }
  }
  #history-years {
    margin-top: $space1;
    &::before {
      content: '';
      width: 100%;
      height: 1px;
      bottom: 48px;
      @include for-size(tablet-landscape-up) {
        bottom: 80px;
      }
      z-index: -2;
      display: block;
      background-color: #000;
      position: absolute;
    }
    &::after {
      content: '';
      height: 100%;
      width: 25%;
      position: absolute;
      z-index: -1;
      right: 0;
      top: 0;
      background: white;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.85618) 51%, white 100%);
    }
  }
  .history-year {
    .history-year-content {
      padding-bottom: $space3;
      padding-right: $space2;
      @include for-size(tablet-landscape-up) {
        padding-bottom: $space3;
        margin-bottom: $space-1;
      }
      &::after {
        content: '';
        width: 1px;
        height: 15px;
        bottom: 48px;
        @include for-size(tablet-landscape-up) {
          bottom: 80px;
        }
        display: block;
        background-color: #000;
        position: absolute;
      }
      h6 {
        text-transform: uppercase;
        font-size: $font-1;
      }
    }
    &.slick-current {
      h1 {
        font-weight:500;
        color: $ionGreen;
      }
    }
    .history-year-date {
      position: absolute;
      bottom: 0px;
      height: $space2;
      display: block;
    }
  }
  #slide-scrubber-wrapper {
    top: auto;
    bottom: 48px;
    @include for-size(tablet-landscape-up) {
      bottom: 80px;
    }
    &::before {
      width:100%;
    }
  }
}
/*------------------------------------*\
   Contact
\*------------------------------------*/

.page-contact{
  .page-content {
    iframe{
      margin-top: $space1;
    }
  }
}

#pardot-form {
  .field-label {
    font-size: $font-3;
  }
}

/*------------------------------------*\
   Team
\*------------------------------------*/

.team-bio .more-button {
  margin-top: $space-1;
  &:visited {
    color: white!important;
  }
}
