header.site-header #ion-smart-crumbs smartcrumb {
  .view-my-collateral, .email-my-collateral {
    opacity: .5;
  }
  .collateral-count, .view-my-collateral, .email-my-collateral {
    display: inline-block;
    white-space: nowrap;
    padding: 15px 5px 15px 5px;
    font-weight: 800;
    font-size: 0.702rem;
    text-transform: uppercase;
    pointer-events: none;
    &.active {
      pointer-events: auto;
      opacity: 1;
    }
    span {
      display: inline-block;
      padding: 0;
    }
  }
  .collateral-count {
    padding-left: 20px;
  }
}
.col-resources {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  .col-resource {
    padding: 15px;
    cursor: pointer;
    .col-resource-image-container {
      position: relative;
      img {
        transition: opacity .2s linear;
        outline: 1px solid $ionGrey1;
        // padding: 5px;
        // box-shadow: 0 0 10px rgba(0,0,0,.2);
      }
      .col-resource-icon-container {
        position: absolute;
        width: 30%;
        height: 0;
        border-radius: 50%;
        padding-bottom: 30%;
        border: 1px dashed $ionBlack;
        top: 40%;
        left: 35%;
        opacity: 0;
        z-index: 2;
        .col-resource-icon {
          font-size: 6rem;
          position: absolute;
          font-weight: 100;
          width: 60%;
          height: 60%;
          top: 20%;
          left: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-image: url('../images/icons/col-+.svg');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
    &.selected, &:hover {
      .col-resource-image-container {
        img {
          opacity: .3;
        }
        .col-resource-icon-container {
          opacity: 1;
        }
      }
    }
    &:hover {
      .col-resource-image-container {
        .col-resource-icon-container {
          .col-resource-icon {
            background-image: url('../images/icons/col-+.svg');
          }
        }
      }
    }
    &.selected {
      .col-resource-image-container {
        .col-resource-icon-container {
          border: none;
          .col-resource-icon {
            background-image: url('../images/icons/col-check.svg');
          }
        }
      }
      &:hover {
        .col-resource-image-container {
          .col-resource-icon-container {
            border: 1px dashed $ionBlack;
            .col-resource-icon {
              width: 40%;
              height: 40%;
              top: 30%;
              left: 30%;
              background-image: url('../images/icons/col-x.svg');
            }
          }
        }
      }
    }
  }
}
.col-resources-popup {
  position: fixed;
  width: calc(100% - #{$headerWidth});
  height: calc(100% - #{$headerHeight});
  top: $headerHeight;
  left: $headerWidth;
  z-index: 7;
  display: none;
  .col-resources-popup-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .col-resources-popup-content {
      background-color: white;
      padding: $space2 $space5;
    }
  }
}
.col-resources-email-popup {
  position: fixed;
  width: calc(100% - #{$headerWidth});
  height: calc(100% - #{$headerHeight});
  top: $headerHeight;
  left: $headerWidth;
  z-index: 8;
  display: none;
  .col-resources-email-popup-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .col-resources-email-popup-content {
      background-color: white;
      padding: $space2 $space5;
    }
  }
}
