.post-type-archive-data-library {
  .page-content-wrapper {
    margin-top: 0;
  }
}
.region-grey-background {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    margin-top: calc(calc(.75rem * 1.2) * -1);
    height: calc(11.391rem * 1.2);
    background-color: whitesmoke;
  }
}
#data-library-container {
  width: 100%;
  height: 0;
  padding-bottom: 200%;
  position: relative;
  @include for-size(tablet-portrait-up) {
    padding-bottom: 100%;
  }
  @media (min-width: 690px) {
    padding-bottom: 50%;
  }
  @include for-size(desktop-up) {
    padding-bottom: 50%;
  }
  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.data-library-overview {
  align-items: center;
  margin: 50px 0 30px;
  &.page-content-container {
    display: flex;
    flex-direction: column;
    @include for-size(tablet-portrait-up) {
      flex-direction: row;
    }
  }
  .overview-intro {
    width: 100%;
    margin-bottom: $space1;
    @include for-size(tablet-portrait-up) {
      margin-bottom: 0;
      width: calc((100% / 12) * 5);
    }
    h2 {
      margin: 0;
    }
  }
  .overview-divider {
    position: relative;
    width: calc(100% / 12);
    height: 6em;
    display: none;
    @include for-size(tablet-portrait-up) {
      display: block;
    }
    &::before {
      content: '';
      height: 100%;
      width: 2px;
      background-color: $ionGrey1;
      position: absolute;
      left: 0;
      top: 0;
    }
    &::after {
      content: '';
      position: absolute;
      left: -25%;
      top: 50%;
      width: 25%;
      height: 2px;
      background-color: $ionGrey1;
    }
  }
  .overview-content {
    width: 100%;
    @include for-size(tablet-portrait-up) {
      width: calc((100% / 12) * 6);
    }
  }
}

.wp-block-pan-zoom-data-block-pan-zoom-data {
  position: relative;
  .pan-zoom-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.wp-block-image-comparison-block-image-comparison {
  position: relative;
  .img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-color: #2196F3;
    opacity: 0.7;
    border-radius: 50%;
  }
  .comparison-images-container {
    width: 100%;
    height: 0;
    padding-bottom: 66%;
    position: relative;
    .comparison-images {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      .comparison-image {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
          display: block;
          width: auto;
          height: 100%;
          max-width: 99999px;
        }
      }
    }
  }
}

.tax-data-type .related-offerings-container.content-inner {
  padding-left: 0!important;
  padding-right: 0!important;
}
