#events-page-container {
  position: relative;
}
#featured-events-container {
  margin-bottom: 3em;
  .featured-events-wrapper {
    overflow: hidden;
    h3 {
      /*margin-top: -10px;*/
    }
    .slick-track {
    }
    .featured-post {
      margin-bottom: $space1;
      .featured-event-image {
        margin-bottom: 2em;
        @include for-size(tablet-portrait-up) {
          margin-bottom: 0;
        }
      }
      .featured-post-content {
        .post-desc {
          margin-top: $space1;
        }
      }
    }
  }
}

.featured-posts-arrows {
  display: flex;
  .arrow-prev {
    margin-right: .5em;
  }
}

#investor-events-wrapper {

}

.events-container {
  margin-bottom: $space2;
  h3 {
    margin-bottom: 2em;
  }
  .events-item {
    padding: 0 1em;
    margin-bottom: 3em;
    height: auto;
    .event-header {
      margin-top: $space-3;
      margin-bottom: $space-3;
    }
    @include for-size(tablet-portrait-up) {
      //margin-bottom: 0;
    }
  }
}

.event-header {
  display: flex;
  flex-direction: column;
  margin: 0 0 $space1;
  @include for-size(tablet-portrait-up) {
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: $space2;
  }
  .event-date {
    padding: 0 $space-1 0 0px;
    flex-shrink: 0;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    height: 100%;
    margin-bottom: 5px;
    br {
      display: none;
    }
    @include for-size(tablet-portrait-up) {
      border-right: 1px solid $ionGrey1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 0;
      br {
        display: block;
      }
    }
  }
  .event-header-content {
    display: flex;
    flex-direction: column;
    @include for-size(tablet-portrait-up) {
      padding-left: 15px;
    }
    .event-title {
      margin: 0;
      line-height: 1.2em;
      p {
        margin-top: 0px;
      }
    }
  }
}
.event-linkout {
  text-decoration: underline;
  display: block;
}
.event-image {
  width: 100%;
  display: block;
  height: 0;
  padding-bottom: 65%;
}
.event-description {
  padding: 10px 0 0;
  /*width: 70%;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  span {
    font-weight: 700;
    margin-right: 5px;
    padding-right: 10px;
    &.event-description-excerpt {
      border-left: 1px solid $ionGrey1;
      padding-left: 10px;
    }
  }
}

#investor-events-container {
  position: relative;
  .events-container.flex {
    .events-item {
      .event-header {
        height: auto;
        align-items: flex-start;
        .event-title {
          line-height: 1.2em;
          margin: -5px 0 0 0;
        }
      }
    }
  }
}

#page-header #page-header-title {
  .event-header {
    display: flex;
    margin: 0 0 3.429rem;
    align-items: flex-start;
    h1 {
      margin: 0px;
    }
    p {
      font-size: $font4;
      font-weight: 500;
      margin: 0px;
    }
    .event-date {
      text-transform: uppercase;
      font-weight: 700;
      font-size: $font-2;
      text-align: center;
      height: $space2;
      padding: 1em 1.5em 1em 0;
      margin-right: $space1;
      @include for-size(tablet-portrait-up) {
        border-right: 1px solid $ionGrey3;
      }
    }
  }
}

.external-link-icon {
  background-color: $ionBlack;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &.black-icon {
    position: relative;
    right: 0;
    bottom: auto;
    width: 15px;
    padding: 0;
    height: auto;
    background-color: transparent;
    margin-left: 3rem;
    svg {
      max-width: 15px;
    }
  }
  svg {
    width: 15px;
    height: auto;
    path {
      fill: white;
    }
  }
}

#featured-talks {
  margin-top: 4em;
  a {
    display: block;
  }
  .featured-talk {
    background-color: $ionGrey4;
    align-items: center;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
    .talk-image {
      background-color: grey;
    }
    .talk-image-container {
      padding: 0 1em;
      width: calc((100% / 12) * 3)!important;
    }
    .talk-date-container {
      width: calc((100% / 12) * 1)!important;
      padding: 0 1em;
      text-transform: uppercase;
      font-size: .8em;
      font-weight: 700;
      text-align: center;
      border-right: 1px solid $ionGrey3;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .talk-time {
        margin-top: 1em;
        padding-top: 1em;
        position: relative;
        &::before {
          content: '';
          top: 0;
          position: absolute;
          left: 10%;
          width: 80%;
          height: 1px;
          background-color: $ionGrey3;
        }
      }
    }
    .talk-content {
      width: calc((100% / 12) * 8)!important;
      padding-left: 1.5em;
      h4 {
        margin: 0 0 8px;
        line-height: 1.1em;
      }
    }
  }
}
