/*------------------------------------*\
  Featured Posts Slider
\*------------------------------------*/
#featured-insights-container{
  .featured-posts-slider {
    .featured-post {
      .flex {
        margin-bottom: $space1;
      }
      .featured-post-image-container {
        position: relative;
      }
      .featured-post-image {
        width: 100%;
        display: block;
      }
      .featured-post-content {
        position: relative;
        display: block;
        .featured-event-date {
          position: absolute;
          right: 100%;
          top: 0;
          padding: 10px 15px 10px 0;
          margin-right: 20px;
          border-right: 1px solid $ionGrey1;
          text-align: center;
          font-weight: 600;
          font-size: .9em;
          line-height: 1.2em;
          text-transform: uppercase;
        }
        h2 {
          margin: -10px 0 $space1 0;
        }
        .event-location {
          margin: 0px 0 0;
          font-weight: 600;
          color: $ionGrey1;
        }
      }
    }
  }
}

.grid-filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: $space1;
  @include for-size(tablet-portrait-up) {
    margin-top: 0;
  }
  .filter-items {
    background-color: #ffffff;
    padding: 8px 8px;
    margin-left: 16px;
    &:focus {
      outline: none;
    }
    a {
      text-transform: uppercase;
      font-size: $font-3;
      padding: 4px 0px 8px 0px;
      margin: 0px 4px;
      &.active {
        border-bottom: 2px solid $ionBlack;
        font-weight: 600;
      }
    }
  }
}

.insights {
  .grid-filter-label {
    //width: $space4;
    .filter-item:nth-child(n+5) {
      display: none;
    }
  }
}




.ion-post-grid {
  width: 100%!important;
  .grid-gutter {
    width: 2%;
  }
  .grid-post {
    margin-bottom: 25px;
    width: 100%;
    @include for-size(tablet-portrait-up) {
      width: 48%;
    }
    @include for-size(tablet-landscape-up) {
      width: 32%;
    }
    .post-thumbnail {
      width: 100%;
      display: block;
      height: 0;
      background-size: cover;
      background-position: center;
    }
    &:nth-of-type(odd) .post-thumbnail {
      padding-bottom: 100%;
    }
    &:nth-of-type(even) .post-thumbnail {
      padding-bottom: 65%;
    }
    }
    h5 {
      margin: 8px 0;
      color: $ionGrey1;
      font-weight: 400;
    }
    img {
      width: 100%;
      height: auto;
    }
    a {
      display: flex;
      flex-direction: column;
    }
    &::after {
      display: none;
    }
  }

.show-more-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: $space2 0;
}

.single-post #page-header #page-header-title {
  h1 {
    font-size: $font2;
    font-weight: 500!important;
    margin-bottom: $space1;
  }
  .header-description {
    font-size: $font5!important;
  }
}
