#investor-modules-wrapper {
position: relative;
}
.page-investor-relations {
  .page-content-wrapper .page-content {
    padding: 0!important;
  }
}
#investor-modules {
  #investor-modules-section {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    #modules-gutter {
      width: 2.5%;
    }
    .ion-module {
      width: 100%;
      margin-bottom: $space2;
      @include for-size(tablet-portrait-up) {
        width: 55%;
        margin-bottom: $space1;
      }
      &:nth-child(2n + 2) {
        &::before {
          display: none;
        }
      }
      &:nth-child(even) {
        @include for-size(tablet-portrait-up) {
          width: 40%;
        }
      }
      &.module-type-single_post {
        h3 {
          a {
            font-weight: 600;
            line-height: 1.2em;
          }
          margin: 0;
        }
        img {
          width: 100%;
          height: auto;
          margin-bottom: $space-1;
        }
        .event-date {
          color: rgb(180,180,180);
          margin-top: 1em;
          font-size: 1.1em;
        }
        .event-time, .event-time a {
          color: rgb(180,180,180);
          margin-top: 1em;
        }
        .single-post-desc {
          margin-top: 1em;
        }
        .see-more {
          margin-top: $space-1;
          display: block;
          font-weight: 600;
          text-transform: uppercase;
          font-size: $font-2;
        }
      }
      &.module-type-list_slider {
        width: 100%;
        min-height: 100px;
        padding-bottom: 3em;
        .list-slider-container {
          position: relative;
          &::after {
            content: '';
            height: 100%;
            width: 25%;
            position: absolute;
            z-index: 2;
            right: 0;
            top: 0;
            background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8561799719887955) 51%, rgba(255,255,255,1) 100%);
          }
        }
        .list-slider {
          padding: 0 0 $space-1;
          .list-slider-item {
            .list-slider-item-content {
              padding-bottom: 1em;
              padding-right: 2em;
              border-bottom: 1px solid $ionBlack;
              position: relative;
              &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 1em;
                width: 1px;
                background-color: $ionBlack;
              }
            }
            .list-slider-item-count {
              font-size: 3em;
              display: block;
              color: $ionGrey3;
              margin-top: .5em;
            }
            h6 {
              text-transform: uppercase;
              margin: 0 0 1em;
            }
          }
        }
        .list-slider-arrows {
          display: flex;
          .list-slider-arrow {
            margin-right: .5em;
          }
        }
      }
    }
  }

  .custom-module-content {
    ul, ol {
      padding: 0;
      margin: 0;
    }
    ol {
      list-style: none;
      counter-reset: list-counter;
    }
    ol li {
      counter-increment: list-counter;
      margin-bottom: 10px;
      padding: 20px 20px 20px 60px;
      background-color: $ionGrey4;
      position: relative;
      display: flex;
      align-items: center;
    }
    ol li::before {
      padding: 10px 20px 10px 0;
      content: counter(list-counter);
      border-right: 1px solid $ionGrey1;
      margin-right: 15px;
      font-size: $font-2;
      font-weight: 600;
      height: 70%;
      position: absolute;
      left: 20px;
      display: flex;
      align-items: center;
    }
  }
}

#filtered-list-type-sec-filing {
  .filtered-list-content {
    .filtered-post-format {
      margin-left: $space-2;
      img {
        height: 16px;
        max-width: none!important;
      }
    }
  }
}

/*------------------------------------*\
  Stock Performance
\*------------------------------------*/

.page-content-wrapper .page-content {
  .stock-performance-header {
    p {
      margin: 0;
    }
    a {
      margin-bottom: 1em;
      display: inline-block;
      font-weight: bold;
      border-bottom: 2px solid $ionGreen;
    }
  }
  .stock-performance {
    table-layout: auto;
    border-collapse: collapse;
    width: auto;
    td {
      padding: .2em 0;
      &:first-of-type {
        padding-right: 2em;
      }
      font-weight: bold;
      p {
        margin: 0;
        font-weight: normal;
      }
      p.positive {
        color: limegreen;
        display: flex;
        align-items: center;
      }
      p.negative {
        color: red;
        display: flex;
        align-items: center;
      }
      .stock-change {
        margin: 0 8px 0 0;
        &.positive {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 4px 4px 4px;
          border-color: transparent transparent limegreen transparent;
        }
        &.negative {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 4px 4px 0 4px;
          border-color: red transparent transparent transparent;
        }
        &.neutral {
          margin: 0 2px;
        }
      }
    }
  }
}
