#investor-events-wrapper {
  width: 100%;
}
.filtered-list-search {
  display: none;
}
#investor-event-years {
  margin-bottom: $space1;
  padding-bottom: .5rem;
  display: flex;
  align-items: center;
  @include for-size(tablet-portrait-up) {
    margin-bottom: $space2;
  }
  #event-years {
    border: 1px solid $ionGrey1;
    border-radius: 0!important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    height: 3em;
    min-width: 8em;
    padding: 0 .8em;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%238DC73F'><polygon points='0,0 100,0 50,50'/></svg>");
    background-repeat: no-repeat, repeat;
    background-position: right .7em top calc(50% + .3em), 0 0;
    background-size: .75em auto, 100%;
    display: none;
    &::-ms-expand {
      display: none;
    }
    &:focus {
      outline: none;
    }
  }
  a {
    font-size: $font4;
    margin-right: 2rem;
    position: relative;
    @include for-size(tablet-portrait-up) {
      margin-right: 3rem;
    }
    &.active {
      font-weight: 600;
      &::after {
        content: '';
        position: absolute;
        top: calc( 100% + .25rem );
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $ionGrey1;
      }
    }
  }
  .more-event-years {
    display: flex;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
      margin-left: 1rem;
    }
  }
}
.events-by-year-container {
  position: relative;
  .events-by-year {
    .event-list-items {
      width: 100%;
      .event-list-item {
        width: 100%;
        padding-bottom: 2rem;
        &.disabled {
          pointer-events: none;
          cursor: auto;
        }
        &:not(:last-of-type) {
          border-bottom: 1px solid #D2D2CD;
        }
        .event-list-item-header {
          width: 100%;
          padding: 3rem 0;
          font-size: 1.2rem;
          color: $ionBlack;
          position: relative;
          span.event-list-title {
            font-size: $font3;
            font-weight: 500;
            line-height: 2.2rem;
            padding-right: 3rem;
            @include for-size(tablet-portrait-up) {
              font-size: $font2;
            }
          }
          &:focus {
            outline: none;
          }
          .event-list-date {
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
            font-size: $font-1;
            line-height: 1.1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid $ionGrey3;
          }
          .down-arrow-container {
            display: flex;
            justify-content: flex-end;
            .down-arrow {
              position: absolute;
              width: 40px;
              height: 40px;
              right: 1.5rem;
              top: 50%;
              background-color: $ionGrey3;
              display: flex;
              justify-content: center;
              align-items: center;
              transform: translateY(-50%);
              svg {
                width: 40%;
                height: auto;
                display: block;
                polygon {
                  fill: $ionBlack;
                }
              }
            }
          }
        }
        &.open {
          .event-list-item-header .down-arrow {
            transform: translateY(-50%) rotate(-180deg);
          }
        }
        .event-list-item-content {
          padding-bottom: 2rem;
          .supporting-material {
            margin-bottom: .25rem;
            color: black;
            margin-top: 1rem;
            .supporting-material-link {
              background-color: #fafaf7;
              padding: 2rem 1rem;
              @include for-size(md-down) {
                flex-wrap: nowrap;
              }
              span {
                display: flex;
                align-items: center;
                display: inline-flex;
                &.icon {
                  height: 2rem;
                  border-right: 1px solid $ionGrey2;
                  margin-right: 1rem;
                  flex-shrink: 0;
                }
                &.title {
                  flex: 1;
                }
                &.download {
                  flex-shrink: 0;
                }
                img {
                  margin-right: 1rem;
                }
              }
            }
            img {
              width: 1rem;
              height: auto;
              margin-left: .5rem;
            }
          }
          .webcast-link {
            margin-top: 1rem;
            font-weight: 600;
            font-size: 1.2rem;
            padding: 1.5rem 1.5rem;
            background-color: $ionGrey4;
            color: $ionBlack;
            @include for-size(tablet-portrait-up) {
              padding: 2rem 1.5rem;
            }
            svg {
              width: 2rem;
              height: auto;
              margin-right: 1rem;
              @include for-size(tablet-portrait-up) {
                width: 3rem;
              }
            }
            .ct-time {
              padding: 0 1rem;
              border-right: 1px solid $ionGrey2;
            }
            .gmt-time {
              padding-left: 1rem;
            }
            .join-webcast {
              margin-left: auto;
              text-transform: uppercase;
              font-size: $font-1;
              position: relative;
              background-image: url('../images/icons/right-arrow.svg');
              width: 12px;
              height: 12px;
              background-size: contain;
              background-repeat: no-repeat;
              @include for-size(tablet-portrait-up) {
                &::after {
                  content: 'join webcast';
                  position: absolute;
                  right: calc(100% + 1rem);
                  top: 50%;
                  transform: translateY(-50%);
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }
  }
}
