$headerWidth: 96px;
$headerHeight: 80px;
$headerWidth: $space3;
//end variables

@mixin for-size($range) {
  $phone-upper-boundary: 600px;
  $phone-landscape-upper-boundary: 667px;
  $tablet: 768px;
  $tablet-portrait-upper-boundary: 900px;
  $tablet-landscape-med-boundary: 1090px;
  $tablet-landscape-upper-boundary: 1200px;
  $desktop-med-boundary: 1500px;
  $desktop-upper-boundary: 1800px;

  @if $range == phone-only {
    @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
  } @else if $range == tablet-portrait-up {
    @media (min-width: $phone-upper-boundary) { @content; }
  } @else if $range == tablet {
    @media (min-width: $tablet) { @content; }
  } @else if $range == tablet-landscape-up {
    @media (min-width: $tablet-portrait-upper-boundary) { @content; }
  } @else if $range == tablet-landscape-med {
    @media (min-width: $tablet-landscape-med-boundary) { @content; }
  } @else if $range == md-down {
    @media (max-width: #{$tablet-landscape-upper-boundary - 1}) { @content; }
  } @else if $range == desktop-up {
    @media (min-width: $tablet-landscape-upper-boundary) { @content; }
  } @else if $range == desktop-med {
    @media (min-width: $desktop-med-boundary) { @content; }
  } @else if $range == big-desktop-up {
    @media (min-width: $desktop-upper-boundary) { @content; }
  } @else if $range == phone-landscape {
    @media (max-width: $phone-landscape-upper-boundary) and (orientation : landscape) { @content; }
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: 100%;
    position: relative;
    &.px-1 {
      padding: 0 1em;
    }
    &.stretch {
      flex-grow: 2;
    }
  }
}

@include for-size(tablet-portrait-up) {
  @for $i from 1 through 12 {
    .col-#{$i}:not(.full-width) {
      width: 50%;
    }
  }
}

@include for-size(desktop-up) {
  @for $i from 1 through 12 {
    .col-#{$i} {
      width: calc((100% / 12) * #{$i})!important;
    }
  }
}

body.ie {
  @include for-size(desktop-up) {
    @for $i from 1 through 12 {
      .col-#{$i} {
        width: calc((100% / 12) * #{$i} - 1px)!important;
      }
    }
  }
}



@include for-size(md-down) {
	@for $i from 1 through 12 {
		.col-#{$i}-md-down {
			width: calc((100% / 12) * #{$i})!important;
		}
	}
}

@include for-size(phone-landscape) {
  $headerWidth: 0px;
}


html {
  font-size: 13px;
  @include for-size(tablet-portrait-up) {
    font-size: 12px;
  }
  @include for-size(desktop-up) {
    font-size: 13px;
  }
  @include for-size(big-desktop-up) {
    font-size: 14px;
  }
}

iframe {
  height: auto;
  &.contact-form {
    min-height: 550px;
    @include for-size(tablet-landscape-up) {
      min-height: 450px;
    }
  }
}

body.menu-active {
  overflow: hidden;
  header {
    .content-inner {
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: whitesmoke;
        position: absolute;
        z-index: -1;
        @include for-size(tablet-landscape-up) {
          display: none;
        }
      }
    }
  }
}



.content-inner {
  position: relative;
  padding-left: $space1!important;
  padding-right: $space1!important;
  width: 100%;
  margin: auto;
  @include for-size(tablet-landscape-up) { //900px
    width: 760px;
    max-width: 100%;
    padding-left: $space2!important;
    padding-right: $space2!important;
  }
  @include for-size(tablet-landscape-med) { //1000px
    width: 900px;
    max-width: 100%;
  }
  @include for-size(desktop-up) { //1200px
    width: 1020px;
    max-width: 100%;
  }
  @include for-size(desktop-med) { //1500px
    width: 1060px;
    max-width: 100%;
  }
  @include for-size(big-desktop-up) { //1800px
    width: 1400px;
  }
  .grid {
    display: grid;
    grid-gap: $space1;
    column-count: 12;
    grid-template-columns: repeat(12, 1fr);
    grid-area: none;
    @include for-size(desktop-up) {
      grid-gap: $space1;
    }
  }
  .flex {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    &.row {
      margin: 0 -1em;
    }
    @include for-size(tablet-portrait-up) {
      flex-direction: row;
    }
    &.row-reverse {
      flex-direction: row-reverse;
    }
    &.justify-space-between {
      justify-content: space-between;
    }
    &.align-center {
      align-items: center;
    }
  }
}
.has-side-scroll {
  @include for-size(tablet-landscape-up) {
    padding-left: $space2!important;
  }
  > .content-inner {
    @include for-size(tablet-portrait-up) {
      padding-left: 0!important;
    }
  }
}

.single-event {
  .page-content-container {
    display: flex;
    flex-direction: column-reverse;
    @include for-size(tablet-portrait-up) {
      flex-direction: row;
      margin-bottom: 2em;
      &.row-reverse {
        flex-direction: row-reverse;
      }
    }
  }
}

.single-post {
  .full-width-page {
    position: relative;
    &::before {
      content: '';
      background-color: $ionGrey4;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 4em;
      z-index: 0;
    }
  }
}

.bg-centered {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  overflow: hidden;
  img {
    transition: transform .2s linear;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center center;
  }
  &.compat-object-fit {
    background-size: cover;
    background-position: center center;
    img { // hide image if object fit is not supported - opacity to 0 for the link area
      opacity: 0;
    }
  }
  a img {
    transform: rotate(.001deg);
  }
  &:hover {
    a {
      img {
        transform: scale(1.025) rotate(.001deg);
      }
    }
  }
}
.ratio-image-container {
  width: 100%;
  display: block;
  height: 0;
  overflow: hidden;
  position: relative;
  &:hover {
    .animated-image {
      transform: rotate(.001deg) scale(1.05);
    }
  }
  .animated-image {
    transform: rotate(.001deg) scale(1.00);
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: calc(100% + 1px);
    display: block;
    transition: .2s transform linear;
    &:hover {

    }
  }
}
.ratio-3-2 {
  padding-bottom: 65%;
}
.ratio-3-1 {
  padding-bottom: 30%;
}
.ratio-1-1 {
  padding-bottom: 100%;
}
.grey-header {
  color: $ionGrey1;
}
.ion-cta {
  color: white;
  background-color: white;
  text-transform: uppercase;
  border-radius: 3px;
  border: 1px solid $ionBlack;
  height: 24px;
  padding: 0 calc(#{$space-1} + 32px) 0 $space-1;
  font-size: $font-2;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 1;
  &:hover {
    color: $ionGreen;
  }
  input {
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 0; //do not change to variable
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 30px);
    height: 100%;
    background-color: $ionBlack;
    z-index: -1;
  }
  &::after {
    content: '';
    position: relative;
    display: block;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent $ionGreen ;
  }
  &:visited {
    color: white;
  }
}
body.ie .ion-cta {
  color: white;
  background-color: white;
  text-transform: uppercase;
  border-radius: 3px;
  border: 1px solid $ionBlack;
  height: 24px;
  padding: 3px 40px 3px 10px;
}
.arrow-before {
  position: relative;
  display: block;
  width: 100%;
  padding-left: 15px;
  &::before {
    content: '';
    position: absolute;
    display: block;
    transform: translateY(-50%);
    left: 0px;
    top: 50%;
    border-style: solid;
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent $ionGreen ;
  }
}
.with-arrow {
  position: relative;
  width: 100%;
  padding-right: 30px;
  a {
    display: block;
  }
  &::after {
    content: '';
    display: none;
    @include for-size(tablet-landscape-up) {
      display: block;
    }
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent $ionGreen ;
  }
}
.circle-arrow {
  width: $space1;
  height: $space1;
  border-radius: 50%;
  border: 1px solid $ionGrey1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &.inactive, &.slick-disabled {
    pointer-events: none;
    opacity: .5;
    transition: opacity .2s linear;
  }
  &::after {
    content: '';
    position: relative;
    display: block;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent $ionGrey1;
  }
  &.arrow-prev {
    &::after {
      transform: scale(-1, 1);
    }
  }
}
.slick-slide:focus, .slick-arrow:focus {
  outline: none;
}
.slick-arrow {
  cursor: pointer;
}
.featured-post-label {
  color: $ionGrey1;
  margin: 8px 0 0 0;
}

/*------------------------------------*\
  Header
\*------------------------------------*/

header.site-header {
  width: 100%;
  height: $headerHeight;
  background-color: white;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 10;
  #main-menu-button {
    position: fixed;
    top: calc(#{$headerHeight} - 1px);
    left: 0px;
    font-size: $font-1;
    text-transform: uppercase;
    display: none;
    background-color: $ionGrey4;
    z-index: 99;
    padding: 12px;
  }
  &.mobile-active {
    background-color: $ionGrey4;
    #search-overlay {
      background-color: $ionGrey4!important;
      @include for-size(tablet-portrait-up) {
        background-color: #fff!important;
      }
    }
    #navigation-container {
      &.active {
        #main-menu-button {
          display: block;
        }
      }
    }
    input {
      background-color: $ionGrey4;
    }
  }


  .content-inner {
    z-index: 99;
    position: relative;
    max-width: 100%;
    width: 100%;
    @include for-size(tablet-landscape-up) {
      padding-right: $space3!important;
    }
    @include for-size(desktop-up) {
      z-index: 1;
    }
    .site-header-content {
      display: flex;
      justify-content: space-between;
      height: $headerHeight;
      .site-branding {
        display: flex;
        align-items: center;
      }
      #header-right {
        display: flex;
        align-items: center;
        background-color: #fff;
        position: relative;
        padding-right: 24px;
        margin-right: -24px;
        @include for-size(tablet-portrait-up) {
          margin-right: 0px;
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
        }
        &::before {
          content: '';
          position: absolute;
          display: block;
          left: -25px;
          top: 0;
          bottom: 0;
          width: 25px;
          height: 100%;
          background: #ffffff;
          -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%);
        }
        #header-social-links {
          list-style-type: none;
          padding-right: 16px;
          margin: 0 16px 0 0;
          position: relative;
          display: none;
          @include for-size(tablet-portrait-up) {
            display: block;
          }
          &::after {
            content: '';
            position: absolute;
            width: 1px;
            height: 50%;
            top: 25%;
            right: 0;
            background-color: $ionGreen;
          }
          li {
            display: inline-block;
            height: 12px;
            width: auto;
            margin: 0 8px;
            img {
              height: 100%;
              width: auto;
            }
          }
        }
      }
      .search-icon {
        img {
          width: 24px;
          height: auto;
          @include for-size(tablet-portrait-up) {
            width: 16px;
            margin-top: 5px;
          }
        }
      }
      .custom-logo {
        height: 24px;
        width: auto;
      }
    }
  }
  #search-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    transition: transform .2s linear;
    transform: translateY(-100%);
    pointer-events: none;
    z-index: 9;
    .wrapper {
      height: 100%;
    }
    .content-inner {
      display: flex;
      justify-content: space-between;
      &.search-bar {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
      }
      &.search-results {
        padding-left: 0px!important;
        padding-right: 0px!important;
        margin-top: -12px;
        @include for-size(tablet-portrait-up) {
          margin-top: 0px;
        }
      }
      form {
        width: 100%;
        height: 100%;
      }
      input {
        height: 100%;
        width: 100%;
        border: 0px;
        padding: 0px;
        font-size: $font3;
        &.search-submit {
          display: none;
        }
      }
      .search-close {
        width: 20px;
        height: auto;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    #searchform {
      display: flex;
      align-items: center;
    }
  }
  &.search-active {
    #search-overlay {
      transform: translateY(0);
      pointer-events: auto;
    }
  }
  #ion-smart-crumbs {
    position: absolute;
    left: $space1;
    z-index: -2;
    @include for-size(tablet-portrait-up) {
      left: $space2;
    }
    top: calc(100% - 1px);
    background-color: white;
    display: flex;
    smartcrumb {
      position: relative;
      &:last-of-type::after {
        content: '';
        position: absolute;
        display: block;
        right: -18px;
        bottom: -18px;
        width: 60px;
        height: 60px;
        background: #ffffff;
        -webkit-transform-origin:0 0;
        -ms-transform-origin:0 0;
        transform-origin:0 0;
        z-index: -1;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:first-of-type::before {
        content: '';
        position: absolute;
        display: block;
        left: -42px;
        bottom: -18px;
        width: 60px;
        height: 60px;
        background: #ffffff;
        -webkit-transform-origin:0 0;
        -ms-transform-origin:0 0;
        transform-origin:0 0;
        z-index: -1;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:not(:first-of-type)::before {
        content: '';
        height: 50%;
        position: absolute;
        left: 0;
        top: 25%;
        border-left: 1px solid $ionOlive-60;
      }
      span {
        display: flex;
        text-transform: uppercase;
        align-items: center;
        position: relative;
        padding-right: 15px;
        a {
          padding: 15px 0 15px 15px;
          font-weight: 800;
          font-size: $font-3;
        }
        &.span-no-link {
          padding: 15px;
          font-weight: 800;
          font-size: $font-3;
          color: $ionOlive;
          &:hover {
            color: $ionBlack;
          }
        }
      }
      &.has-children {
        cursor: pointer;
        span {
          padding-right: 28px;
        }
        span::after {
          content: '';
          position: absolute;
          right: 10px;
          top: calc(50% - 2px);
          width: 4px;
          background: #ffffff;
          border-left: 4px solid white;
          border-right: 4px solid white;
          border-top: 4px solid $ionGreen;
        }
      }
      .smart-crumb-list {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 100%;
        padding: 15px;
        background-color: white;
        white-space: nowrap;
        transform: scaleY(0);
        transform-origin: top center;
        a {
          display: block;
          font-size: $font-2;
          font-weight: 300;
          padding: calc(#{$space-1} / 2) 0px;
          &:hover {
            color: black;
          }
        }
      }
      &:hover {
        .smart-crumb-list {
          transition: transform .2s linear;
          transform: scaleY(1);
        }
      }
    }
  }
}
.search-overlay-background {
  position: fixed;
  top: $headerHeight;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: rgba(96, 96, 75, 0.6);
  z-index: 9;
  pointer-events: none;
  opacity: 0;
  transition: all .2s linear;
  &.active {
    pointer-events: auto;
    opacity: 1;
  }
  @media (min-width: 600px) {
    left: $headerWidth;
    width: calc(100% - #{$headerWidth});
  }
  @include for-size(phone-landscape) {
    left: 0;
    width: 100%;
  }
}

.search-results-container {
  background-color: white;
  width: 100%;
  padding: 0 $space1!important;

  .no-results {
    padding: 1em 2em;
    font-size: 1.1em;
    font-weight: 500;
  }
  .search-list-arrows {
    display: flex;
    padding: 0 0 $space-1 0;
    a {
      margin-right: $space-4;
    }
  }
  &.error404 {
    padding: $space2 0px!important;
  }

  .search-item {
    padding: 0 .5em;
    width: 100%;
    @include for-size(tablet-landscape-up) {
      width: 50%;
    }
    .search-item-content {
      height: 100%;
      padding: .5em;
    }
    .search-item-flex {
      height: 100%;
      display: block;
      background-color: $ionGrey4;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      width: 100%;
      p {
        flex-grow: 1;
        margin: 0;
        padding-right: 1.5em;
      }
      .meta {
        text-transform: uppercase;
        font-weight: 700;
        font-size: $font-3;
        text-align: center;
        &.rtf, &.pdf, &.xls {
            padding-left: $space-2;
          img {
            width: 16px;
            height: auto;
          }
        }
        &.posturl {
          flex-shrink: 0;
          img {
            transform: rotate(-90deg);
          }
        }
        &.label {
          padding: 1em 1.5em 1em 0;
          margin-right: 2em;
          border-right: 1px solid gainsboro;
          max-width: 60px;
          span {
            white-space: nowrap;
          }
        }
        &.download {
          padding: 1em 0 1em 1.5em;
          margin-left: 2em;
          flex-shrink: 0;
        }
      }
    }
  }
}
.error404-container {
  padding: calc(3.375rem * 1.2) 0px !important;
  .search-results-container {
    background-color: transparent;
    p {
      padding: 0px;
    }
  }
}

.error404-container.content-inner .search-results-container {
  background-color: transparent;
  .search-results-inner {
    .col-4 {
      @include for-size(tablet-portrait-up) {
        width: 50%!important;
      }
    }
  }
}

.home #page-header {
  background-color: $ionGrey4;
  .notch-wrapper {
    background-color: #ffffff;
    overflow: hidden;
    .flex {
      justify-content: flex-end;
    }
    .notch-wrapper-notch {
      background-color: $ionGrey4;
      height: $space1;
      width: 50%;
      position: relative;
      &:after, &:before {
        content: '';
        height: 100%;
        background-color: $ionGrey4;
        width: $space1;
        position: absolute;
      }
      &:before {
        left: calc(#{$space1} * -1);
        width: 100vw;
      }
      &:after {
        right: calc(#{$space1} * -1);
      }
    }
  }
}

/*------------------------------------*\
  Menu
\*------------------------------------*/
.shadow {
  @include for-size(tablet-landscape-up) {
    box-shadow: 0 0 5px rgba(0,0,0,.15);
  }
}
#navigation-container {
  position: fixed;
  left: 0;
  top: $headerHeight;
  height: calc(100vh - #{$headerHeight});
  width: 100vw;
  display: none;
  z-index: 999;
  #menu-item-ion::after {
    border-color: transparent $ionGrey1 transparent transparent;
  }
  .ion-loader-container {
    background-color: rgba(255,255,255,.5);
    z-index: 9;
  }
  &.mobile-active {
    display: block;
  }
  @include for-size(tablet-landscape-up) {
    width: $headerWidth;
    top: $headerHeight;
    display: block;
    top: 0;
    height: 100%;
  }
  @include for-size(desktop-up) {
    width: $headerWidth;
  }
  #menu-color-wrapper {
    @include for-size(tablet-landscape-up) {
      width: 2px;
      height: 100vh;
    }
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1;
    #menu-color {
      width: 100%;
      height: 0;
      opacity: 0;
      transition: all 0.6s ease-out;
    }
  }
  #navigation-slide {
    width: 100vw;
    height: 100%;
    overflow: auto;
    padding: $space2;
    position: absolute;
    top: 0;
    left: 0px;
    background-color: white;
    transform: translateX(-100%);
    transition: all .1s ease-in-out;
    z-index: 99;
    -webkit-overflow-scrolling: touch;
    @include for-size(tablet-portrait-up) {
      margin-top: 0px;
    }
    @include for-size(tablet-landscape-up) {
      height: 100vh;
      margin-top: 0px;
      z-index: 0;
      width: auto;
      min-width: 100%;
      left: calc(100% - 5px);
    }
    @include for-size(tablet-landscape-up) {
      box-shadow: 0 0 5px rgba(0,0,0,.5);
    }
  }
  &.active {
    #navigation-slide{
      transform: translateX(0);
    }
    #menu-color-wrapper {
      pointer-events: none;
      #menu-color {
        height: 100%;
        opacity: 1;
      }
    }
  }
  #site-navigation {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    background-color: white;
    padding: $space-1 $space1;
    margin-top: calc(#{$headerHeight} - 1px);
    height: calc(100% - #{$headerHeight} + 1px);
    min-width: 100%;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    @include for-size(tablet-landscape-up) {
      padding: 0px;
      margin-top: 0px;
      height: 100vh;
      position: absolute;
    }
  }
  a {
    font-size: $font-2;
    color: $ionOlive;
    font-weight: 500;
  }
  .menu-slider-menu {
    .menu-slider-header {
      display: flex;
      justify-content: space-between;
      margin: 0 0 $space1;
      h1 {
        font-weight: 600;
        font-size: $font3;
        margin: 0;
      }
      .menu-investor-quote {
        background-color: $ionBlack;
        padding: 4px 6px;
        margin-left: 10px;
        display: flex;
        color: white;
        font-weight: 700;
        align-items: center;
        .stock-change {
          margin: 0 8px;
          &.positive {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 6px 6px 6px;
            border-color: transparent transparent limegreen transparent;
          }
          &.negative {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 6px 0 6px;
            border-color: red transparent transparent transparent;
          }
          &.neutral {
            margin: 0 4px;
          }
        }
      }
    }
    .module-section {
      width: 100%;
      @include for-size(tablet-portrait-up) {
        width: 350px;
      }
      .grey-header {
        margin: 0 0 1em;
      }
      .page-link-image {
        width: 100%;
        height: 0;
        padding-bottom: 30%;
        display: block;
      }
      &.page_link {
        p {
          margin-bottom: 8px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
      &.taxonomy_list, &.template {
        padding-top: 1em;
        .menu-tax-list-container {
          h3 {
            margin: 0 0 $space-1;
            color: $ionGrey1;
            font-size: $font4;
            a {
              color: $ionGrey1;
              font-size: $font4;
            }
          }
          &:not(:last-of-type){
            margin-bottom: $space-1;
            padding-bottom: $space-1;
            border-bottom: 1px solid $ionGrey1;
          }
          .menu-tax-children {
            a {
              font-size: $font-1;
            }
            strong {
              a {
                font-weight: 700;
                font-size: $font6;
                margin-bottom: calc(#{$space1} / 2);
                display: block;
              }
            }
            .menu-tax-posts {
              display: flex;
              flex-wrap: wrap;
              a {
                width: 50%;
                color: $ionGrey1;
                margin-bottom: $space-4;
              }
              &:not(:last-of-type) {
                margin-bottom: $space1;
              }
            }
          }
          // Technology menu items
          .menu-tech-item {
            display: flex;
            h5 {
              margin: 0 0 1em;
            }
            .menu-tech-featured {
              width: 50%;
              padding-right: calc(#{$space1} / 2);
              .menu-tech-image {
                display: block;
              }
              .menu-tech-title {
                display: block;
                text-transform: uppercase;
                font-weight: 700;
                margin-top: 1em;
              }
            }
            .menu-tech-types {
              width: 50%;
              padding-left: calc(#{$space1} / 2);
              a {
                display: block;
                margin-bottom: 1em;
              }
            }
          }
        }
      }
      &.recent_news {
        .menu-news-posts {
          a {
            margin: 10px 0;
            font-size: 1em;
          }
        }
        .menu-see-more {
          display: block;
          text-transform: uppercase;
          font-weight: 700;
          margin: 1.5em 0;
        }
      }
      &.sub-menu-container {
        a.no-link {
          cursor: default;
          pointer-events: none;
        }
        .first-children {
          padding: 1.5em 0 2em;
          > a {
            color: $ionGrey1;
            font-weight: 700;
            font-size: 1.3em;
            display: block;
          }
          .children {
            padding: 1em 0 1.5em;
            display: flex;
            flex-wrap: wrap;
            &:not(:last-of-type) {
              border-bottom: 1px solid $ionGrey2;
              margin-bottom: 1.5em;
            }
            a {
              padding-right: .75em;
              font-size: 1em;
              width: 50%;
              margin-bottom: .75rem;
              line-height: 1.2;
            }
          }
        }
      }
      .menu-events-module-container, .menu-next-event {
        &:not(:last-of-type) {
          padding-bottom: .5em;
          margin-bottom: 1em;
          border-bottom: 1px solid $ionGrey3;
        }
        a {
          font-size: 1em;
        }
      }
      .more-posts {
        font-weight: 700;
        font-size: .9em;
        margin: 1em 0;
        display: block;
        text-transform: uppercase;
      }
      .menu-event-date {
        display: inline-flex;
        align-items: center;
        position: relative;
        width: 100%;
        .event-date {
          text-align: center;
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          font-weight: 700;
          font-size: .8em;
          text-transform: uppercase;
          line-height: 1.2em;
          margin-right: 1em;
          padding-right: 1em;
          position: relative;
          &:after {
            content: '';
            width: 1px;
            height: 120%;
            background-color: $ionGrey3;
            position: absolute;
            right: 0;
            top: -10%;
          }
        }
      }
    }
  }
  #primary-menu {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5em;
    align-items: center;
    width: 100%;
    position: relative;
    .menu-item {
      padding: 1rem 1.5rem;
      flex-shrink: 0;
      border-bottom: 1px solid $ionGrey3;
      align-items: center;
      position: relative;
      span {
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: 3rem;
      }
      &:not(:first-of-type)::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 0 7px 7px;
        border-color: transparent transparent transparent $ionBlack;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 3rem;
        @include for-size(tablet-landscape-up) {
          display: none;
        }
      }
      @include for-size(tablet-landscape-up) {
        flex-basis: auto;
        padding: 1.75em 0;
        border: none;
        justify-content: center;
        span {
          font-size: $font-2;
          font-weight: 500;
          margin-left: 0;
        }
      }
    }
  }
  .more-menu-items {
    font-size: 1.2rem;
    font-weight: 700;
    padding: .5rem 1.5rem;
    @include for-size(tablet-landscape-up) {
      display: none;
    }
  }
  #secondary-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    @include for-size(tablet-landscape-up) {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    justify-content: flex-start;
    padding-bottom: 2em;
    .menu-item {
      height: auto;
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-shrink: 1;
      width: 50%;
      font-size: 1.5rem;
      padding: 0 1.5rem;
      font-weight: 400;
      @include for-size(tablet-landscape-up) {
        width: auto;
        height: 100%;
        width: 100%;
        flex-basis: 48px;
        font-size: $font-2;
        font-weight: 500;
        justify-content: center;
      }
      &::after {
        border-color: transparent $ionGrey1 transparent transparent;
      }
    }
  }
  .menu-item {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    align-items: center;
    @include for-size(tablet-landscape-up) {
      flex-direction: column;
      align-items: center;
    }
    img {
      width: 1.5rem;
      height: 1.5rem;
      height: auto;
      @include for-size(tablet-landscape-up) {
        margin-bottom: 10px;
        max-width: 16px;
        max-height: 16px;
      }
    }
    &:hover::after {
      transform: translate(0, -50%);
    }
    &.current-page::before {
      content: '';
      position: absolute;
      left: 0;
      top: 30%;
      width: 4px;
      height: 40%;
      display: none;
      @include for-size(tablet-landscape-up) {
        display: block;
      }
    }
    &::after {
      @include for-size(tablet-landscape-up) {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 8px 8px 0;
        position: absolute;
        top: 50%;
        transform: translate(100%, -50%);
        right: 0;
        transition: all .2s linear;
      }
    }
  }
  .menu-secondary-menu-container {
    padding: 30px 0 0;
    #menu-secondary-menu {
      padding: 0;
      margin: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      li {
        padding: 5px 0;
      }
      a {
        color: $ionGrey1;
        font-weight: 400;
      }
    }
  }
}

body.ie {
  #navigation-container .menu-slider-menu .module-section.taxonomy_list .menu-tax-list-container .menu-tech-item .menu-tech-featured .menu-tech-image, #navigation-container .menu-slider-menu .module-section.template .menu-tax-list-container .menu-tech-item .menu-tech-featured .menu-tech-image {
    margin-right: 15px;
  }
}
.featured-topics-container {
  padding-top: $space2;
  border-top: 1px solid $ionGrey1;
  h4 {
    margin-top: 0;
  }
}

.module-section {
  &:not(:last-child) {
    border-bottom: 1px solid $ionGrey2;
    padding-bottom: $space1;
  }
  &.recent_news {
    .featured-topics-container {

    }
  }
}

#page-header {
  background-color: $ionGrey4;
  #page-header-title {
    h1 {
      margin-top: 0;
      margin-bottom: 0;
      .error404 & {
        margin-bottom: $space-1;
      }
      color: $ionOlive;
      font-weight: 200;
    }
    .header-description {
      font-weight: 200;
      max-width: 650px;
      font-size: $font3!important;
      p {
        margin: 0 0 $space1 0;
        font-size: inherit;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
  &.full-width-image {
    padding: $space1 0 $space2;
    position: relative;
    background-color: $ionBlack;
    .header-image-cover {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $ionBlack;
    }
    .temp-header-image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
      }
    }
    #page-header-title {
      color: white;
      h1{
      color: white;
      }
      p {
        color: white;
        font-size: $font3;
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.5);
    }
  }
  #page-header-title {
    padding: $space2 0px $space2 0px;
    position: relative;
    .page-header-title-content {
      display: none;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
    &.has-filter {
      display: flex;
      flex-direction: column;
      @include for-size(tablet-portrait-up) {
        justify-content: space-between;
        flex-direction: row;
      }
      h1 {
        margin-bottom: 0px;
      }
    }
    #page-header-search {
      input {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid white;
        padding: 5px 10px 5px 40px;
        min-width: 250px;
        border: 0px;
        color: white;
        font-size: $font3;
        &::placeholder {
          text-transform: uppercase;
          font-weight: 700;
          font-size: $font3;
          color: white;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
  h1 {
    display: inline-block;
    font-weight: 300;
  }
}

#sidebar {
  min-width: 250px;
  .sidebar-location-map {
    .ion-location-map {
      height: 0;
      padding-bottom: 100%;
      position: relative;
      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }
  #sidebar-featured-image {
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: $space2;
    img {
      width: 100%;
      height: auto;
    }
  }
  flex-shrink: 0;
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 $space-1;
    line-height: 120%;
  }
}

body.ie.page #sidebar {
  @include for-size(md) {
    margin-right: 30px;
  }
}

.toggle-content {
  display: none;
}

.page-content-wrapper {
  padding: $space1 0 $space1 0;
  position: relative;
  .page-content-container {
    margin-bottom: 4em;
    &.standard-page, &.full-width-page {
      .page-content-container-inner {
        justify-content: center;
      }
      &:not(.has-header-image) {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          margin-top: calc(#{$space-1} * -1);
          height: $space5;
          background-color: $ionGrey4;
        }
      }
    }
    &.full-width-page {
      &.has-header-image {
        padding-top: 40px;
      }
    }
  }
  .page-content {
    @include for-size(tablet-portrait-up) {
      flex: 1;
      &:not(.data-library-content) {
        padding: 0 3em 0 0;
      }
    }
    p {
      margin: 0 0 $space-1;
      a {
        color: $ionGreen;
        text-decoration: underline;
      }
    }
    blockquote {
      margin-top: $space1;
      p {
        font-size: $font5;
        margin-top: 0;
        margin-bottom: 0;
        &:not(:last-of-type) {
          margin-bottom: $space1!important;
        }
        a {
          font-weight: bold;
        }
      }
      cite {
        font-size: 1.2rem;
        margin-top: $space-1;
        font-style: normal;
      }
    }
  }
  .page-content-container.reverse-container {
    .page-content {
      &:not(.data-library-content) {
        @include for-size(tablet-landscape-med) {
          padding: 0 0 0 3em;
        }
      }
    }
  }
  &.has-sidebar {
    .page-content-container {
      display: flex;
      flex-direction: column-reverse;
      @include for-size(tablet-portrait-up) {
        flex-direction: row;
        &.row-reverse {
          flex-direction: row-reverse;
          .page-content {
            padding: 0 0 0 3rem;
          }
        }
      }
    }
  }
}
.no-sidebar-page .page-content {
  width: 100%;
  @include for-size(tablet-landscape-up) {

  }
}

#page-header #page-header-title {
  .insight-header-container {
    margin-bottom: $space2;
    h1 {
      margin: 0;
      font-weight: 500;
    }
    .post-authors {
      margin-top: .5em;
      font-weight: 700;
      color: $ionGrey2;
    }
  }
}

.content-tabs {
  width: 100%;
  margin-top: 4em;
  margin-bottom: 3em;
  ul, ol {
  	margin: 0 0 $space-1 $space1;
  	padding: $space1;
    &:focus {
      outline: none;
    }
  }
  .content-tabs-nav {
    display: flex;
    flex-direction: column;
    @include for-size(tablet) {
      flex-direction: row;
    }
    .content-tab-button {
      padding: .5em;
      text-transform: uppercase;
      font-weight: 700;
      background-color: $ionGrey3;
      font-size: .8em;
      position: relative;
      overflow: hidden;
      border-bottom: 1px solid $ionGrey1;
      @include for-size(tablet) {
        padding: .75em 2em;
        text-overflow: ellipsis;
        padding-right:calc(2em + 24px);
        border-bottom: 0;
        &::after {
          content: '';
          position: absolute;
          display: block;
          right: -1px;
          top: -1px;
          bottom: 0;
          width: 25px;
          height: calc(100% + 1px);
          background: white;
          z-index: 1;
          -webkit-clip-path: polygon(100% 0%, 100% 100%, 0 0%);
          clip-path: polygon(100% 0%, 100% 100%, 0 0%);
        }
      }
      &.active {
        background-color: $ionGrey4;
      }
    }
  }
  .content-tab {
    display: none;
    padding: 2em 2em 1em;
    background-color: $ionGrey4;
    .filtered-list .filtered-list-container .filtered-list-post {
      background-color: white;
      padding: 0;
      a {
        padding: 1em;
      }
    }
    &.active {
      display: block;
    }
  }
}


body.archive { // Taxonomy body
  .page-content-wrapper {
    padding-top: $space2;
  }
}

.no-sidebar-page {

}

/*------------------------------------*\
  Side Scroll Nav
\*------------------------------------*/

.side-scroll-item {
  position: relative;
  &::before {
    content: '';
    width: 16px;
    height: 2px;
    background-color: $ionBlack;
    position: absolute;
    top: 12px;
    left: 0;
  }
}
#offerings-landing, .single-technology {
  .side-scroll-item {
    &::before {
      display: none;
    }
  }
}
.side-scroll-nav {
  position: absolute;
  height: 100%;
  left: 24px;
  top: 12px;
  display: none;
  .side-scroll-nav-content {
    border-left: 2px solid $ionBlack;
    height: 100%; /*calc(100% - 52px)*/
    width: 24px;
    right: 0;
    position: absolute;
    &::before {
      content: '';
      width: 16px;
      height: 2px;
      background-color: $ionBlack;
      position: absolute;
      top: 0;
      left: 0;
    }
    &::after {
      content: '';
      width: 32px;
      height: 100%;
      position: absolute;
      bottom: 0;
      z-index: 1;
      left: -2px;
      background: rgb(255,255,255);
      background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5648634453781513) 45%, rgba(255,255,255,1) 100%);
    }
  }
  @include for-size(tablet-landscape-up) {
    display: block;
  }
  .nav-arrows {
    position: absolute;
    margin-left: -50px;
    top: 160px;
    position: sticky;
    padding-top:3px;
    .nav-arrow {
      width: 30px;
      height: 30px;
      border: 1px solid $ionBlack;
      border-radius: 50%;
      margin-bottom: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:not(.inactive) {
        transition: .1s transform linear;
        &:hover {
          transition: .2s transform linear;
          transform: scale(1.1);
        }
      }
      &::before {
        content: '';
        width: 0;
        height: 0;

        border-style: solid;
        border-width: 0 5px 7px 5px;
        border-color: transparent transparent $ionBlack transparent;
      }
      &.nav-arrow-down {
        &::before {
          border-width: 7px 5px 0 5px;
          margin-top: 2px;
          border-color: $ionBlack transparent transparent transparent;
        }
      }
      &.inactive {
        opacity: .4;
        pointer-events: none;
        cursor: auto;
      }
    }
  }
}

/*------------------------------------*\
  Featured Posts Slider
\*------------------------------------*/

.featured-posts-slider {
  .featured-post {
    .featured-post-image {

    }
    .featured-post-content {
      display: flex;
      align-items: flex-start;
      position: relative;
      @include for-size(tablet-portrait-up) {
        padding-left: 2em;
      }
      .featured-event-date {
        padding: 10px 15px 10px 0;
        margin-right: 20px;
        border-right: 1px solid $ionGrey1;
        text-align: center;
        font-weight: 600;
        font-size: .9em;
        line-height: 1.2em;
        text-transform: uppercase;
      }
      h2 {
        margin: -10px 0 0;
      }
      .event-location {
        margin: 5px 0 0;
        font-weight: 600;
        color: $ionGrey1;
      }
    }
  }
}




/*------------------------------------*\
  Post Row
\*------------------------------------*/

.post-row {
  margin-top: 30px;
  .post-row-content {
    @include for-size(tablet-portrait-up) {
      margin: 0 -1%;
    }
    .post-row-item {
      width: 100%;
      margin: 0 0 $space1;
      padding: 0 1em;
      @include for-size(tablet-portrait-up) {
        width: 23%;
      }
      position: relative;
      .post-row-title {
        margin: 15px 0 0 0;
        color: $ionGrey1;
      }
      .post-row-item-content {
        margin-top: 8px;
      }
    }
    &.column-count-3 {
      .post-row-item {
        @include for-size(tablet-portrait-up) {
          width: calc(100% / 3);
        }
      }
    }
    &.column-count-2 {
      margin: 0;
      justify-content: space-between;
      .post-row-item {
        width: 48%;
      }
    }
  }
}

/*------------------------------------*\
  Posts Grid
\*------------------------------------*/

.ion-post-grid-container {
  margin-top: 3em;
}

a.more-button {
  color: $ionGreen;
  text-transform: uppercase;
  border-radius: 3px;
  border: 1px solid $ionBlack;
  height: 30px;
  padding: 0 $space1 0 $space1;
  font-size: 0.79rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: $ionBlack;
  &:visited {
    color: white;
  }
}

.sidebar-html {

}
.sidebar-ion-related {
  a {
    display: block;
    width: 100%;
    padding: $space-3;
    background-color: $ionGrey4;
    margin-bottom: $space-1;
  }
  .post-link {
    display: block;
    width: 100%;
    padding: 1em 1em;
  }
}
.download-link {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: $space-1;
  .download-link-title {
    margin-bottom: 0;
  }
  .download-link-type {
    position: relative;
    background-color: $ionGrey3;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 2em;
    font-size: .7rem;
    flex-grow: 0;
    margin-bottom: 0;
    flex: 1;
    flex-shrink: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    span {
      margin-left: 16px;
    }
  }
}


/*------------------------------------*\
  Header Slides
\*------------------------------------*/

#page-header-slides-wrapper {
  padding: $space1 0 0 0;
  position: relative;
  width: 100%;
  .©-wrapper {
    position:relative;
  }
  @include for-size(tablet-portrait-up) {
    padding: $space2 0 0 0;
  }
  #page-header-slides {
    top: -4.015rem;
    z-index: 2;
    opacity: 0;
    transition: all .4s linear;
    position: relative;
    @include for-size(tablet-portrait-up) {
      pointer-events: none;
    }
    .header-slide {
      position: relative;
      display: flex;
      flex-direction: column;
      @include for-size(tablet-portrait-up) {
        flex-direction: row;
      }
      .header-slide-container {
        &:not(:first-of-type) {
          display: none;
        }
      }
      &.flex {
        align-items: flex-start;
      }
      .header-slide-spacer {
        height: 0px;
        width: 100%;
      }
      .header-slide-content {
        padding-top: $space1;
        width: 100%;
        position: relative;
        @include for-size(tablet-portrait-up) {
          width: 50%;
          padding-right: 3em;
        }
        @include for-size(desktop-up) {

        }
        padding-bottom: $space-1;
        .header-slide-content-wrapper {
          margin-top: $space2;
        }
        .header-slide-title {
          position: relative;
          font-size: $font2;
          margin-top: 0px;
          margin-bottom: $space-1;
          line-height: 1.1em;
          transition: all .8s linear;
          opacity: 0;
          transform: translateY(-30px);
          @include for-size(tablet-landsape-med) {
            font-size: $font2;
          }
        }
        .header-slide-excerpt {
          position: relative;
          transition: all .6s linear;
          opacity: 0;
          transform: translateY(-30px);
          transition-delay: .2s;
          p {
            font-size: $font6;
            @include for-size(tablet-landscape-up) {
              font-size: $font5;
            }
          }
        }
        .ion-cta-container {
          position: relative;
          transition: all .4s linear;
          transition-delay: .4s;
          opacity: 0;
          transform: translateY(-30px);
          pointer-events: auto;
        }
      }
      .header-slide-image {
        width: 100%;
        position: relative;
        @include for-size(tablet-portrait-up) {
          width: 50%;
          margin-top: calc(#{$space1} * -1);
        }
      }
    }
    &.slick-initialized {
      opacity: 1;
      .header-slide-container {
        display: block;
        &.slick-current {
          .header-slide-title, .header-slide-excerpt, .ion-cta-container {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}

#slide-scrubber-wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
  transition: all .5s linear;
  transform: translateY(-50%);
  opacity: 0;
  @include for-size(tablet-portrait-up) {
  }
  &.active {
    opacity: 1;
    transform: translateY(0);
    @include for-size(phone-only) {
      z-index: 3;
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    @include for-size(tablet-landscape-up) {
    width: calc(100% - 450px);
    }
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0.45+51,0+100 */
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0.45) 51%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0.45) 51%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0.45) 51%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
  }
  #slide-scrubber {
    .slick-list {
      width: 100%;
      @include for-size(tablet-portrait-up) {
        width: calc(100% - 450px);
      }
      .slick-track {
        width: 100%;
        @include for-size(tablet-portrait-up) {
          width: auto;
        }
      }
    }
    .slide-scrub-title {
      padding-top: 20px;
      display: inline-block;
      width: 33%;
      position: relative;
      text-transform: uppercase;
      font-size: $font-3;
      font-weight: 700;
      color: $ionBlack;
      transition: all .2s linear;
      opacity: .4;
      left: 0;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      &.slick-current {
        opacity: 1;
        left: 0;
        & + .slide-scrub-title {
          left: -10%;
          position: relative;
        }
      }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 15px;
        background-color: $ionBlack;
      }
    }
  }
}
.page-header-arrows {
  position: absolute;
  top: calc(#{$space2} * -1);
  left: 33%;
  display: flex;
  z-index: 9;
  pointer-events: none;
  opacity: 0;
  transition: all .3s linear;
  @include for-size(tablet-portrait-up) {
    padding-top: 0;
  }
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
  .circle-arrow {
    pointer-events: auto;
    margin-right: $space-4;
  }
}

/*------------------------------------*\
  Modules
\*------------------------------------*/

.view-all {
  text-transform: uppercase;
  font-weight: 600;
  font-size: $font-3;
}
#ion-modules {
  @include for-size(tablet-portrait-up) {
    display: flex;
  }
  .ion-modules-section {
    display: block;
    position: relative;
    &#ion-modules-1 {
      margin-bottom: 3em;
      @include for-size(tablet-portrait-up) {
        padding-right: 1em;
        margin-bottom: 0;
      }
    }
    &#ion-modules-2 {
      @include for-size(tablet-portrait-up) {
        padding-left: 1em;
      }
    }
  }
  .ion-module {
    opacity: 0;
    position: relative;
    transform: translateY(32px);
    transition: all .4s ease-in-out;
    &.active {
      opacity: 1;
      transform: translateY(0);
    }
  }
  padding-top: $space2;
  padding-bottom: $space2;
  .module-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: $space1;
    .view-all {
      bottom: 5px;
      position: relative;
    }
    h3 {
      margin: 0;
    }
  }
  .post-slideshow-wrapper {
    position: relative;
    .post-slideshow-arrows {
      position: absolute;
      top: 0;
      right: 0;
      .arrow-next {
        margin-bottom: 8px;
      }
      .arrow-prev {
        transform: rotate(180deg);
      }
    }
    .post-slideshow {
      margin-left: -30px;
      padding-right: 70px;
      .post-slide {
        padding-left: $space1;
        width: 45%;
        position: relative;
        .post-slide-image {
          width: 100%;
          height: 0;
          padding-bottom: 73%;
        }
        h4 {
          margin: 10px 0;
          color: $ionOlive;
          font-size: $font6;
        }
      }
    }
  }
  .post-previews-wrapper {
    .post-previews {
      .post-preview {
        &:not(:last-of-type) {
          margin-bottom: 2em;
        }
        .post-preview-image {
          width: 100%;
          padding-bottom: 72%;
        }
        .post-preview-content {
          position: relative;
          h4 {
            color: $ionGrey1;
            margin: 10px 0 0;
          }
        }
      }
    }
  }
  .upcoming-events-module {
    padding-bottom: 2em;
    .upcoming-event-dates-container {
      position: relative;
      .event-module-arrow {
        position: absolute;
        z-index: 9;
        &.slick-disabled {
          opacity: .4;
        }
        &.arrow-prev {
          top: 50%;
          left: 10px;
          border-style: solid;
          border-width: 6px 6px 6px 0;
          border-color: transparent $ionBlack transparent transparent;
        }
        &.arrow-next {
          top: 50%;
          right: 10px;
          border-style: solid;
          border-width: 6px 0 6px 6px;
          border-color: transparent transparent transparent $ionBlack;
        }
      }
    }
    .slick-slide, .slick-slider, .slick-track {
      min-width: 0px;
      min-height: 0px;
    }
    .upcoming-event-dates {
      text-align: center;
      background-color: $ionGrey3;
      padding: 15px 25px 5px;
      min-width: 0;
      min-height: 0;
      .event-module-date {
        position: relative;
        margin: 20px 2em 10px;
        display: flex;
        .event-module-date-content {
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &.first-of-month {
          margin: 20px 2em 10px 0;
        }
        &.slick-current {
          .event-module-date-content {
            color: white;
            position: relative;
            &::before {
              content:'';
              position: absolute;
              border-radius: 50%;
              width: 32px;
              height: 32px;
              background-color: $ionBlack;
              z-index: 0;
              left: 0;
              top: 0;
            }
            &::after {
              content:'';
              position: absolute;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              border: 1px solid white;
              z-index: 0;
              left: 1px;
              top: 1px;
            }
            span {
              z-index: 1;
            }
          }
        }
        .event-module-month {
          width: 45px;
          height: 32px;
          margin-right: 25px;
          position: relative;
          &::before {
            content: '';
            width: 1px;
            height: 80%;
            background-color: $ionGrey1;
            position: absolute;
            top: 10%;
            left: 50%;
          }
          span {
            position: absolute;
            bottom: calc(100% + 5px);
            left: 0;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
    .upcoming-featured {
      padding: 1em 1em 1em;
      background-color: $ionGrey4;
      position: relative;
      .upcoming-featured-image-container {
        width: 20%;
        padding: 0 .5em 0 0;
        flex-shrink: 0;
        position: relative;
        .upcoming-featured-image {
          height: 0px;
          width: 100%;
          display: block;
          background-size: cover;
          background-position: center;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .upcoming-featured-content {
        padding: 0 0 0 1em;
        flex: 1;
      }
      .upcoming-featured-title {
        font-size: 1.3em;
      }
      h6 {
        margin: 5px 0 10px;
        text-transform: uppercase;
      }
      .upcoming-featured-link {
        margin-top: $space-1;
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: .9em;
      }
    }
    .upcoming-more-events {
      .upcoming-more-events-post {
        padding: 1em;
        border-bottom: 1px solid $ionGrey3;
        align-items: center;
        .upcoming-more-events-image {
          width: 20%;
          padding: 0 .5em;
          background-color: white;
          img {
            width: 100%;
            height: auto;
          }
        }
        .upcoming-more-events-date {
          height: 100%;
          width: 70px;
          padding: 0 .5em;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          font-weight: 700;
          text-align: center;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            top: 10%;
            height: 80%;
            width: 1px;
            left: 100%;
            background-color: $ionGrey3;
          }
        }
        .upcoming-more-events-post-content {
          padding-left: 1em;
          flex: 1;
        }
        .upcoming-more-events-title {
          font-size: 1.2em;
          line-height: 1em;
        }
      }
    }
    &.hide-dates {
      .upcoming-event-dates-container {
        display: none;
      }
      .upcoming-featured {
        margin-bottom: 1em;
      }
    }
  }
}

body.ie11 {

  .download-link {
    .download-link-title {
      flex-grow:0;
      flex:1;
    }
    .download-link-type {
      flex: .1;
      width: 100%;
      padding-right:20px;
      span {
        margin: 0 10px;
        position: relative;
        display: inline-block;
      }
    }
  }
}
.featured-posts-container {
  margin-bottom: 4em;
  .featured-posts-wrapper {
    .featured-post {
      align-items: flex-start;
      margin-bottom: 2em;
      .filtered-post-content {
        padding-left: 1.5em;
        h3 {
          line-height: 1.2em;
        }
        .filtered-post-desc {
          margin-top: 1.5em;
        }
        .ion-cta {
          margin-top: 1.5em;
        }
      }
      .filtered-post-date {
        padding: 5px 15px 5px 0;
        border-right: 1px solid $ionGrey1;
        text-align: center;
        font-weight: 600;
        font-size: .9em;
        line-height: 1.2em;
        text-transform: uppercase;
      }
    }
  }
}
.filtered-list-by-taxes {
  width: 100%;
  position: relative;
  margin-top: 2em;
  flex-shrink: 0;
  @include for-size(tablet-portrait-up) {
    margin-top: 0;
    width: 40%;
    .filtered-list-by-tax-wrapper {
      position: relative;
      border-right: 1px solid $ionBlack;
      padding-right: 2em;
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-color: transparent transparent transparent $ionBlack;
        border-style: solid;
        border-width: 8px 0 8px 8px;
        position: absolute;
        top: 50%;
        transform: translate(100%, -50%);
        right: 0;
        transition: all .2s linear;
      }
    }
  }
  #investor-presentation {
    @include for-size(tablet-portrait-up) {
      padding-right: 2rem;
      margin: 2rem 0 0;
    }
  }
  h4 {
    display: inline-block;
    margin-right: $space-1;
  }
  .more-filter-items-container {
    .show-more-filter-items {
      margin: $space-4 0 $space1;
      font-weight: 700;
      display: block;
      &::after {
        content: '+ show more';
      }
      &.active {
        &::after {
          content: '- show less';
        }
      }
    }
    .more-filter-items {
      display: none;
    }
  }
  .filtered-list-by-tax-container {
    &:not(:last-of-type) {
      margin-bottom: $space-1;
    }
  }
}
.filter-item-link {
  border: 1px solid $ionBlack-20;
  padding: 3px 4px;
  display: inline-block;
  margin:0 $space-3 $space-3 0 ;
  text-transform: uppercase;
  font-size: $font-2;
  &.inactive {
    opacity: .5;
    pointer-events: none;
  }
  &.active {
    outline: 1px solid $ionBlack;
  }
}
select.post-filter-select {
  border: 1px solid $ionGrey1;
  border-radius: 0!important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 3em;
  min-width: 8em;
  padding: 0 2em 0 .8em;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%238DC73F'><polygon points='0,0 100,0 50,50'/></svg>");
  background-repeat: no-repeat, repeat;
  background-position: right .7em top calc(50% + .3em), 0 0;
  background-size: .75em auto, 100%;
  &::-ms-expand {
    display: none;
  }
  &:focus {
    outline: none;
  }
}
.filtered-list {
  padding-left: 0px!important;
  .more-posts {
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-2;
    margin-top: 1em;
    opacity: .5;
  }
  .post-filter {
    text-transform: uppercase;
    font-size: $font-3;
    font-weight: 800;
    color: $ionOlive;
    position: relative;
    opacity: .6;
    transition: opacity .2s linear;
    margin-left: 20px;
    &:hover {
      opacity: .8;
    }
    &.active {
      opacity: 1;
      pointer-events: none;
      &::after {
        content: '';
        width: 100%;
        height: 2px;
        background-color: $ionGreen;
        position: absolute;
        top: calc(100% + 3px);
        left: 0;
      }
    }
    &.clear-filter.active {
      pointer-events: auto;
    }
  }
  &.filtered-tax-list {
    &:not(.tax-list-resource-type):not(.tax-list-shortcode) {
      margin-top: calc(#{$space5} * -1 + 1em);
      &:first-of-type {
        .filtered-list-by-taxes {
          margin-top: $space5;
        }
        .filtered-list-header {
          h2 {
            color: white;
          }
          .filtered-list-filter {
            color: white;
            .post-filter {
              color: white;
            }
          }
        }
      }
    }
  }
  .filtered-list-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    @include for-size(tablet-portrait-up) {
      justify-content: space-between;
      flex-direction: row;
    }
    .filtered-list-arrows {
      display: flex;
      margin-top: $space-1;
      .circle-arrow {
        margin-right: 5px;
      }
    }
  }
  .filtered-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $space1;
    position: relative;
    h2 {
      margin: 0;
    }
  }
  .filtered-list-posts-wrapper {
    width: 100%;
    @include for-size(tablet-portrait-up) {
      padding-left: 2em;
    }
  }
  .filtered-list-posts {
    position: relative;
    .ion-loader-container {
      background-color: rgba(255,255,255,.5);
    }
  }
  .filtered-list-container {
    .filtered-list-post {
      transition: all .3s linear;
      transform: translateX(0);
      opacity: 1;
      padding: 10px 15px;
      margin-bottom: 16px;
      background-color: $ionGrey4;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .filtered-post-date {
        padding: 5px 15px 5px 0;
        border-right: 1px solid $ionGrey1;
        text-align: center;
        font-weight: 600;
        font-size: .9em;
        line-height: 1.2em;
        text-transform: uppercase;
        flex-grow: 0;
        span {
          white-space: nowrap;
        }
      }
      .filtered-post-form {
        text-align: center;
        font-weight: 600;
        color: $ionGrey1;
        width: 60px;
        flex-shrink: 0;
        flex-basis:auto;
        border-right: 1px solid $ionGrey1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .8em;
        &.auto-width {
          width: 80px;
          padding: 0 5px;
        }
        p {
          margin: 0;
          color: $ionBlack;
          text-transform: uppercase;
        }
      }
      .filtered-post-title {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 0 0 0 15px;
      }
      a.filtered-post-format {
        flex-shrink: 0;
        padding: 0 0 0 5px;
        img {
          width: 18px;
          height: auto;
          display: block;
        }
      }
      a.filtered-post-link {
        flex-shrink: 0;
        .download {
          flex-shrink: 0;
          img {
            width: 18px;
            height: auto;
            display: block;
          }
        }
        .posturl img{
          transform: rotate(-90deg);
        }
      }
    }
    &.prev-posts {
      .filtered-list-post {
        opacity: 0;
      }
      .filtered-list-post:not(.new-post) {
        transform: translateX(100%);
      }
      .filtered-list-post.new-post {
        transform: translateX(-100%);
      }
    }
    &.next-posts {
      .filtered-list-post {
        opacity: 0;
      }
      .filtered-list-post:not(.new-post) {
        transform: translateX(-100%);
      }
      .filtered-list-post.new-post {
        transform: translateX(100%);
      }
    }
  }
}

#learn-more-footer {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
  }
  #learn-more-content {
    position: relative;
    z-index: 1;
    padding: $space2 0 $space1;
    @include for-size(tablet-portrait-up) {
      padding: $space4 0 $space4;
    }
    .flex {
      .learn-more-text {
        iframe {
          min-height: 200px;
          @include for-size(tablet-portrait-up) {
            min-height: 0;
          }
        }
        color: white;
        font-size: $font4;
        h2 {
          margin: 0;
          font-size: $font1;
          line-height: 1.2;
        }
        h3 {
          margin: 0;
          font-size: $font3;
        }
        p {
          margin-top: 5px;
          margin-bottom: 30px;
        }
      }
      .learn-more-link {
        display: flex;
        align-items: center;
        @include for-size(tablet-portrait-up) {
          justify-content: center;
        }
      }
      .learn-more-links-container {
        display: flex;
        align-items: center;
        @include for-size(tablet-portrait-up) {
          justify-content: center;
        }
        .learn-more-links {
          display: flex;
          flex-direction: column;
          .ion-cta {
            margin-bottom: .75rem;
            &:focus {
              color: white;
            }
          }
        }
      }
    }
    &.no-link {
      .flex {
        .learn-more-text {

        }
      }
    }
  }
}

footer.site-footer {
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  #primary-footer {
    padding: $space1 0px $space1 0px;
    .content-inner {
      h6 {
        font-size: $font5;
        @include for-size(tablet-portrait-up) {
          font-size: $font6;
        }
      }
      #newsletter-wrapper {
        width: 100%;
        padding: 0 1em;
        @include for-size(tablet-landscape-up) {
          width: 300px;
        }
        form {
          width: 100%;
          input:not([type="submit"]) {
            background-color: #EFEFED;
            border: none;
            margin-bottom: 5px;
            width: 100%;
            border-radius: 0;
            padding: 5px 10px;
            font-size: $font-2;
            &::placeholder {
              text-transform: uppercase;
              font-weight: 700;
              font-size: $font-2;
            }
          }
          .ion-cta {
            margin-top: $space1;
            display: inline-flex;
          }
        }
      }
      #quick-links-wrapper {
        margin-top: $space1;
        flex: 1;
        width: 100%;
        padding: 0 1em;
        @include for-size(tablet-landscape-up) {
          margin-top: 0px;
          width: calc(100% - 300px);
          //padding-left: 4em;
        }
        #quick-links {
          ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            column-count: 2;
            column-gap: 20px;
            column-rule: 1px solid $ionGrey1;
            @include for-size(tablet-portrait-up) {
              column-count: 3;
            }
            li {
              &:after {
                display: block;
              }
              position: relative;
              padding: 8px 25px 8px 0;
              a {

              }
            }
          }
        }
      }
    }
  }
  #secondary-footer {
    background-color: $ionBlack;
    color: white;
    padding-top: $space2;
    padding-bottom: $space2;
    .content-inner {
      display: flex;
      flex-direction: column-reverse;
      @include for-size(tablet-portrait-up) {
        flex-direction: row;
        justify-content: space-between;
      }
      .site-info {
        font-weight: 100;
        margin-bottom: $space2;
        border-bottom: 1px solid $ionGrey1;
        padding-bottom: $space2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include for-size(tablet-portrait-up) {
          align-items: center;
          flex-direction: row;
          display: block;
          padding-bottom: 0px;
          border-bottom: 0px;
          margin-bottom: 0px;
        }
        @include for-size(phone-only) {
          border: none;
          margin-bottom: 0;
          padding: $space1 0 $space2 0;
        }
        img {
          margin-right: $space1;
          width: auto;
          height: 24px;
          flex-shrink: 1;
          @include for-size(tablet-portrait-up) {
            margin-right: 0px;
            margin-bottom: $space1;
          }
        }
        @include for-size(phone-only) {
          .address {
            display: flex;
            flex-direction: column;
            padding-top: $space1;
            p:after {
              display: none;
            }
            p {
              padding: 0;
              font-size: 1.2em;
              font-weight: 400;
            }
          }
        }
        p {
          margin: 0;
          font-size: $font-2;
          line-height: 2;
          display: inline-block;
          padding: 0px $space-1;
          position: relative;
          &::after {
            content: '';
            width: 1px;
            height: 8px;
            background-color: $ionGrey4;
            position: absolute;
            top: 4px;
            right: -4px;
          }
          &:last-of-type {
            &::after {
              display: none;
            }
          }
          @include for-size(tablet-portrait-up) {
            display: block;
            padding:0px;
            &::after {
              display: none;
            }
          }
        }
        a, a:visited {
          color: white;

        }
      }
    }
    @include for-size(phone-only) {
      padding-bottom: 0;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      &#menu-footer-menu {
        display: flex;
        flex-wrap: wrap;
        @include for-size(tablet-portrait-up) {
          display: flex;
          justify-content: space-between;
          flex-wrap: nowrap;
        }
        @include for-size(phone-landscape) {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
        > li {
          margin-right: 0;
          width: 50%;
          padding-right: 2em;
          // &:nth-of-type(even) {
          //
          // }
          @include for-size(tablet-portrait-up) {
            width: auto;
            float: left;
            margin-bottom: 0;
            margin-left: $space1;
            max-width: 80px;
            padding-right: 0;
          }
          &.menu-item-has-children {
            display: block;
            margin-bottom: $space1;
            @include for-size(tablet-portrait-up) {
              float: left;
              margin-bottom: 0;
              max-width: 100px;
            }
            @include for-size(desktop-up) {
              max-width: 10.7em;
              padding-right: 1.5em;
            }
            @include for-size(phone-landscape) {
              margin-right: 0;
              max-width: 25%;
              margin-left: 0;
            }
            li {
              margin: 0 0 15px;
              line-height: 1em;
              @include for-size(tablet-portrait-up) {
                display: block;
                margin-right: 0;
              }
            }
          }
          a {
            color: white;
            font-weight: 600;
            @include for-size(phone-only) {
              font-size: 1.4em;
            }
          }
          ul {
            margin-top: $space-1;
            li {
              a {
                font-weight: 400;
                text-transform: uppercase;
                font-size: $font-3;
                letter-spacing: 1px;
                line-height: 1em;
              }
            }
          }
        }
      }
    }
  }
}

body.ie {
  footer.site-footer #secondary-footer ul#menu-footer-menu {
    @include for-size(tablet-portrait-up) {
      display: flex;
      justify-content: space-between;
    }
  }
}


body.logged-in {
  #navigation-container #site-navigation {
    padding-top: 50px;
  }
}

/*------------------------------------*\
  Page
\*------------------------------------*/

#page {
  padding-left: 0px;
  @include for-size(tablet-landscape-up) {
    padding-left: 108px;
  }
  @include for-size(desktop-up) {
    padding-left: $headerWidth;
  }
}

#page-header {
  overflow: visible!important;

  .hero-background {
    position: absolute;
    top: 0px;
  }
}

/*------------------------------------*\
  Share Post Screen
\*------------------------------------*/

.share-post-link-wrapper {
  position: sticky;
  right: 0;
  top: 120px;
  width: 100%;
  z-index: 9;
  .share-post-link-container {
    position: absolute;
    right: 0;
    top: 50px;
    .share-post-link, .ion-login-link {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      color: white;
      text-transform: uppercase;
      font-size: .8em;
      background-color: $ionBlack;
      font-weight: 700;
      margin-bottom: 1px;
      .share-post-x {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        img {
          width: 18px;
          height: auto;
        }
      }
      &.active {
        span {
          display: none;
        }
        .share-post-x {
          display: flex;
        }
      }
    }
  }
}
#share-post-screen {
  position: fixed;
  top: $headerHeight;
  left: 0;
  width: 100%;
  height: calc(100% - #{$headerHeight});
  background-color: $ionOlive-60;
  z-index: 9;
  display: none;
  @include for-size(tablet-portrait-up) {
    left: $headerWidth;
    width: calc(100% - #{$headerWidth});
  }
  &.active {
    display: block;
  }
  #share-post-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    h2 {
      margin: 0 0 2em;
      font-weight: 500;
    }
    #share-post-links {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      a, button {
        margin: 0 2.5em 2em;
        width: auto;
        height: 40px;
        position: relative;
        display: inline-block;
        transition: transform .2s linear;
        background-color: transparent;
        padding: 0;
        border: 0;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        &:hover {
          transform: scale(1.1);
        }
        img {
          height: 100%;
          width: auto;
        }
      }
      @include for-size(tablet-portrait-up) {
        display: block;
        a, button {
          margin-bottom: 0;
        }
      }
    }
  }
}

/*------------------------------------*\
  Loader
\*------------------------------------*/

.ion-loader-container {
  opacity: 0;
  pointer-events: none;
  &.fullheight {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $ionGrey2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.white {
    background-color: white;
  }
  &.low-white {
    background-color: rgba(255,255,255,.8);
  }
  .ion-loader {
    color: $ionGrey4;
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
  }
  &.active {
    pointer-events: auto;
    opacity: 1;
    .ion-loader {
      display: inline-block;
    }
  }
  .ion-loader div {
    transform-origin: 15px 15px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .ion-loader div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 14px;
    width: 2px;
    height: 7px;
    border-radius: 20%;
    background: $ionGrey1;
  }
  .ion-loader div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .ion-loader div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .ion-loader div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .ion-loader div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .ion-loader div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .ion-loader div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .ion-loader div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .ion-loader div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .ion-loader div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .ion-loader div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .ion-loader div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .ion-loader div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.download-icon {
  height: 12px;
  width: auto;
}
.page-content {
  .wp-block-table {
    border: 1px solid $ionGrey1;
    border-collapse: collapse;
    th {
      text-align: left;
      padding: 1em;
      background-color: $ionGrey3;
      border: 1px solid $ionGrey1;
      border-collapse: collapse;
    }
    td {
      padding: 1em;
      border: 1px solid $ionGrey1;
      border-collapse: collapse;
    }
  }
  .wp-block-gallery {
    width: calc(100% - 2em)!important;
    margin: 3em 0;
    position: relative;
    padding: 0;
    .gallery-arrows {
      position: absolute;
      left: calc(100% + 1em);
      top: 0;
      .circle-arrow {
        margin-bottom: 5px;
        transform: rotate(90deg);
      }
    }
    .blocks-gallery-item {
      width: 100%;
      margin: 0!important;
      figure {
        display: block;
      }
    }
    &.is-cropped .blocks-gallery-item img, .blocks-gallery-item img {
      width: 100%;
      height: auto;
      flex: none;
    }
  }
}


/*------------------------------------*\
  Mobile Menu
\*------------------------------------*/
$hamburger-layer-width: 24px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 8px;

.hamburger {
  padding: $space1;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    border: none;
    outline: none;
  }
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger:focus {
  outline: none;
}

.hamburger-box {
  width: $hamburger-layer-width;
  height: 18px;
  position: relative;
  display: inline-block;
  @include for-size(tablet-landscape-up) {
    display: none;
  }
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: $hamburger-layer-width;
  height: $hamburger-layer-height;
  background-color: $ionGrey3;
  border-radius: 0px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: $hamburger-layer-spacing;
}
.hamburger-inner::after {
  bottom: $hamburger-layer-spacing;
}

.hamburger--3dxy {
  .hamburger-box {
    perspective: $hamburger-layer-width * 2;
  }
  .hamburger-inner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    &::before,
    &::after {
      transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }

  &.is-active {
    .hamburger-inner {
      background-color: transparent !important;
      transform: rotateX(180deg) rotateY(180deg);
      background-color: #000;
      &::after {
        transform: translate3d(0, 8px, 0) rotate(45deg);
        background-color: #000;
      }
      &::before {
        transform: translate3d(0, -8px, 0) rotate(-45deg);
        background-color: #000;
      }
    }
  }
}

// .caldera-grid .row.last_row {
//   margin-top: $space1;
// }
.post-password-form {
  padding: 3em 0;
  text-align: center;
  #password-form-fields {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input[type="password"] {
    padding: .5em 1em;
    margin-right: 1em;
  }
  input[type="submit"] {
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    height: 30px;
    padding: 0 15px 0 15px;
    font-size: $font-2;
    font-weight: 500;
    align-items: center;
    background-color: $ionBlack;
    border: 1px solid $ionBlack;
    &:focus {
      outline: none;
    }
  }
  p {
    font-size: 1.3em!important;
    font-weight: 600;
  }
}
#instructions-container {
  padding: 3em;
  display: flex;
  position: relative;
  align-items: flex-start;
  #table-of-contents {
    position: sticky;
    top: 120px;
    left: 0;
    display: block;
    ul {
      padding: 0;
      list-style-type: none;
      list-style-image: none;
      margin-left: 0;
      li {
        a {
          padding: .25em 0;
          display: block;
          font-weight: 600;
          font-size: 1.2em;
          &.active {
            font-weight: 700;
            font-size: 1.3em;
          }
        }
        ul {
          margin-left: 1em;
          li {
            a {
              font-weight: 500;
              font-size: 1em;
              &.active {
                font-weight: 600;
                font-size: 1.1em;
              }
            }
          }
        }
      }
    }
  }
  #instructions-content {
    p {
      position: relative;
    }
    img {
      outline: 1px dashed $ionBlack;
      position: relative;
      background-color: white;
      outline-offset:10px;
      margin: 1em 2em 1em 1em;
      clear: both;
    }
    hr {
      display: block;
      clear: both;
      position: relative;
      margin: 2em 0 4em;
      top: 2em;
    }
    .instruction {
      display: block;
      margin-bottom: 3em;
      overflow: auto;
      padding-bottom: 2em;
      h2 {
        margin: 0;
        padding: .5em 1.5em .5em .75em;
        display: inline-block;
        background-color: $ionGrey4;
        position: relative;
        font-weight: 700;
        &::after {
          content: '';
          position: absolute;
          display: block;
          right: -24px;
          top: 0;
          bottom: 0;
          width: 25px;
          height: 100%;
          background: $ionGrey4;
          -webkit-clip-path: polygon(100% 100%, 0 100%, 0 0%);
          clip-path: polygon(100% 100%, 0 100%, 0 0%);
        }
      }
      .instruction-content {
        padding: 1.5em 1.5em 3em;
        background-color: $ionGrey4;
        overflow: auto;
      }
    }
  }
}

.on-page-search-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $ionOlive-60;
  z-index: 2;
  display: none;
}
.on-page-search-container {
  z-index: 3;
  margin-top: 1em;
  position: relative;
  .on-page-search-icon {
    width: 2em;
    height: 2em;
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../images/icons/search-black.png');
    position: absolute;
    top: 3px;
    left: 0;
  }
  .on-page-search {
    border: 0;
    background-color: transparent;
    font-weight: 600;
    text-transform: uppercase;
    color: $ionBlack;
    border-bottom: 2px solid $ionGrey1;
    padding: .5em 4em .5em 3em;
    position: relative;
    width: 250px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-size: .9em;
    }
  }
}
#page-header.bg-centered {
  .on-page-search-container {
    .on-page-search-icon {
      background-image: url('../images/icons/search.png');
    }
    .on-page-search {
      border-color: white;
      color: white;
      &::placeholder {
        color: white;
      }
    }
  }
}
.on-page-search-container.active {
  .on-page-search-icon {
    background-image: url('../images/icons/search.png');
  }
  .on-page-search {
    border-color: white;
    color: white;
    &::placeholder {
      color: white;
    }
  }
}
.on-page-search-results-container {
  color: $ionBlack;
  background-color: white;
  font-size: $font5;
  position: absolute;
  display: inline-block;
  top: 100%;
  width: 100%;
  left: 0;
  .on-page-search-results {
    padding: $space-1;
  }
  .meta {
    display: none;
    &.pdf {
      display: none;
    }
    &.rtf {
      display: none;
    }
    &.xls {
      display: none;
    }
    &.download {
      display: none;
    }
  }
  .search-item-flex {
    display: flex;

  }
  .search-item {
    padding-bottom: $space1 0;
    img {
      width: 12px;
      height: auto;
    }
  }
  p {
    font-size: $font6!important;
    color: $ionBlack!important;
    margin: 0;
    white-space: nowrap;
    flex: 1;
    padding-right: 3px;
  }
}

/*------------------------------------*\
  Pages
\*------------------------------------*/

.blocks-gallery-item {
  figcaption {
    text-size: $font1!important;
    padding: $space-1 $space-1!important;
  }
}

blockquote {
  padding-left: 0;
  border-left: 0px;
  font-size: $font3;
  margin: 0 0 $space-1 0;
}

.ab-block-testimonial{
  border-left: 3px solid $ionBlack;
  border-radius: 0px;
}

.comparison-image-instruction, .pan-zoom-content {
  margin-bottom: $space2;
  display: inline-block;
  background-color: $ionGrey3;
  padding: 4px;
  p {
    display: inline;
    margin: 0px;
  }
}

.wp-block-image-comparison-block-image-comparison {
  .img-comp-slider {
    background-image: url('../images/widgets/compare.png')!important;
    background-color: transparent!important;
    opacity: 1!important;
    border-radius: 0!important;
    background-size: cover;
  }
}

.pan-zoom-controls {
  button {
    background-color: $ionBlack;
    border: 0px;
    border-right: 1px solid $ionGrey1;
    color: #fff;
    font-size: $font-2;
    text-transform: uppercase;
  }
}

#cookie-alert {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100vw;
  display: none;
  @include for-size(tablet-landscape-up) {
    width: calc(100vw - #{$headerWidth});
  }
  background-color: $ionOlive;
  z-index: 99;
  padding: $space-1;
  #cookie-alert-content {
    display: flex;
    justify-content: center;
    align-items: center;
    #cookie-alert-text {
      color: #ffffff;
      font-size: $font6;
      p {
        margin: 0px;
        padding: 0px;
        margin-right: $space-1;
      }
    }
    #cookie-alert-cta {
      background-color: #fff;
      color: $ionBlack;
      height: $space1;
      width: $space2;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.has-notch {
  position: relative;
  &::before {
    content: '';
    width: 16px;
    height: 2px;
    background-color: $ionBlack;
    position: absolute;
    top: 12px;
    left: calc(#{$space2} * -1);
  }
}

body.ie {
  .share-post-link-wrapper {
    position: relative;
  }
  .has-notch {
    &::before {
      left: -65px;
    }
  }
}

body.ie {
  header.site-header #ion-smart-crumbs smartcrumb .smart-crumb-list a {
    font-size: 1rem!important;
  }
}
