/*------------------------------------*\
  Offerings Landing
\*------------------------------------*/
#offerings-landing {
  position: relative;
  &.flex {
    .landing-offering {
      margin-bottom: 2em;
      @include for-size(tablet-portrait-up) {
        h3 {
          font-size: 1.4em;
        }
      }
    }

  }
  .offering-image {
    height: 0;
    padding-bottom: $ratio-3-2;
  }
  .offering-desc {
    margin-top: $space1;
  }
  .child-offerings {
    margin-top: $space1;
    ul {
      list-style-type: none;
      padding: 0px 0px $space-1 0px;
      margin: 0;
      li {
        margin-bottom: 15px;
        display: block;
        position: relative;
        a {
          color: $ionGrey1;
          background-color: $ionGrey4;
          padding: 3px 5px;
        }
      }
    }
  }
}

/*------------------------------------*\
  Offering Single
\*------------------------------------*/

.single-offering {
  .page-content-wrapper {
    margin-top: 4em;
    &.has-sidebar  {
      .page-content {

      }
    }
    @include for-size(tablet-portrait-up) {
      &.has-sidebar  {
        .page-content {

        }
        #sidebar {

        }
      }
    }
  }
}

/*------------------------------------*\
  Offerings Type
\*------------------------------------*/

#offering-type-children {
  margin-top: $space2;
  @include for-size(tablet-portrait-up) {
    margin-top: $space2;
  }
  position: relative;
  //.side-scroll-nav {
    //left: 0;
  //}
  .offering-child {
    margin-bottom: $space2;
    align-items: flex-start;
    &.flex {
      @include for-size(tablet-portrait-up) {

        flex-direction: row-reverse;
        align-items: stretch;
      }
      @include for-size(tablet-landscape-up) {
        padding: 0 0 0 5em;
      }
      .offering-child-image {
        position: relative;
        min-height: 12em;
        .offering-child-image-wrapper {
          background-color: $ionGrey1;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          @include for-size(tablet-portrait-up) {
            position: relative;
            top: auto;
            left: auto;
          }
        }
        @include for-size(tablet-portrait-up) {
          padding-left: 2em;
          min-height: 0;
        }
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: cover;
          object-position: center;
          flex: 1;
        }
      }
      .offering-child-content {
        min-height: 160px;
        background-color: $ionGrey4;
        padding: 16px;
        position: relative;
        @include for-size(tablet-portrait-up) {
          &::after {
            content: '';
            position: absolute;
            display: block;
            top: 50%;
            transform: translateY(-50%);
            border-style: solid;
            right: -12px;
            border-width: 12px 0px 12px 12px;
            border-color: transparent transparent transparent $ionGrey4;
          }
        }
        h5 {
          margin: 0px;
        }
        .ion-cta {
          margin-top: 1em;
          position: absolute;
          bottom: -14px;
        }
      }
      &:nth-of-type(odd) {
        @include for-size(tablet-portrait-up) {
          flex-direction: row;
        }
        .offering-child-content {
          @include for-size(tablet-portrait-up) {
            &::after {
              right: auto;
              left: -12px;
              border-width: 12px 12px 12px 0px;
              border-color: transparent $ionGrey4 transparent transparent;
            }
          }
        }
        .offering-child-image {
          @include for-size(tablet-portrait-up) {
            padding-right: 2em;
            padding-left: 0;
          }
        }
      }
    }
  }
}

#by_the_numbers_container {
  #by_the_numbers {
    .by_the_number {
      display: flex;
      flex-direction: column;
      margin-bottom: $space1;
      @include for-size(tablet-portrait-up) {
        align-items: center;
        flex-direction: row;
        margin-bottom: .5em;
      }
      .by_the_number_number {
        font-weight: 700;
        color: $ionGrey3;
        font-size: 3em;
        flex-shrink: 0;
      }
      .by_the_number_desc {
        @include for-size(tablet-portrait-up) {
          padding-left: 1em;
        }
      }
    }
  }
}
/*------------------------------------*\
  Related Offering
\*------------------------------------*/

.related-offerings-container {
  margin: $space2 auto;
  padding: 0 $space1;
  h2 {
    margin-top: 0;
  }
  #related-offerings {
    overflow: hidden;
    a {
      padding: 8px 1em;
      font-size: 1.1em;
      position: relative;
      margin-top: 1em;
      width: 50%;
      @include for-size(tablet-portrait-up) {
        width: calc((100% / 12 * 3))
      }
      &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 1em;
        width: 80%;
        border-bottom: 2px solid $ionBlack;
      }
    }
  }
}

.tax-offering-type {
  .related-offerings-container.content-inner {
    padding: 0!important;
  }
}
