@media print {
  header.site-header {
    position: relative;
    .content-inner .site-header-content #header-right {
      display: none;
    }
  }
  #share-post-screen.active {
    display: none;
  }
  .share-post-link-wrapper {
    display: none;
  }
  .site-footer {
    display: none;
  }
  .content-tabs .content-tab {
    display: block;
    margin-bottom: 10px;
  }
}
