.filtered-resource-types {
  .filtered-list-header {
    margin: 0 0 1em;
    h4 {
      margin: 0;
    }
    .more-posts {
      margin: 0;
    }
  }
  .filtered-list-wrapper {
    margin-bottom: 2em;
    @include for-size(tablet-portrait-up) {
      width: 48%!important;
    }
  }
}

.featured-resources-container {
  margin-bottom: $space1;

  .featured-posts {
    .featured-post {
      margin-bottom: $space1;
    }
    .filtered-post-thumb-container {
      margin-bottom: 2em;
      @include for-size(tablet-portrait-up) {
        padding-right: 3em;
        margin-bottom: 0;
      }
      .filtered-post-thumb {
        background-size: cover;
        background-position: top center;
        border: 1px solid $ionGrey3;
      }
    }
    .filtered-post-image {
      margin-right: 60px;
    }
    .filtered-post-content {
      display: flex;
      align-items: flex-start;
      .resource-meta {
        margin-left: $space1;
        h4 {
          margin-bottom: $space-2;
        }
      }

      .ion-cta {
        margin-top: 1em;
      }
      .filtered-post-date {
        padding: 5px 15px 5px 0;
        border-right: 1px solid #969696;
        text-align: center;
        font-weight: 600;
        font-size: .9em;
        line-height: 1.2em;
        text-transform: uppercase;
        flex-shrink: 0;
      }
    }
  }
}

// body.ie {
//   .featured-resources-container {
//     .featured-posts {
//       .filtered-post-thumb {
//         min-height: 200px;
//         margin-right: 15px;
//       }
//     }
//   }
// }

.featured-topics-container.resources-landing-topics {
  padding-top: $space1;
  border-top: none;
  h3 {
    margin-bottom: $space-1;
  }
}
.resources-landing-authors {
  padding-top: $space1;
}
.resources-grid {
  position: relative;
}
