/*------------------------------------*\
  Technology Landing
\*------------------------------------*/

#tech-landing {
  position: relative;
  .tech-type {
    width: 100%;
    margin-bottom: 18px;
    position: relative;
    @include for-size(tablet-portrait-up) {
      margin-bottom: $space2;
    }
    .tech-items-wrapper {
      margin: 0 -.75em;
    }
    .tech-items {
      width: 100%;
      h2 {
        margin: 0 0 1.5em 0;
      }
      .tech-item {
        padding: 0 .75em;
        margin-bottom: 2em;
        @include for-size(tablet) {
          margin-bottom: 0;
        }
        &:not(.featured-post) {
          @include for-size(tablet) {
            width: calc((100% / 12) * 3.5)!important;
          }
        }
        &.featured-post {
          @include for-size(tablet) {
            width: calc((100% / 12) * 5)!important;
          }
        }
        h5 {
          margin: 0 0 16px;
        }
        .tech-image-container {
          width: 100%;
          padding-bottom: 70%;
          position: relative;
          display: block;
        }
        .tech-image {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
        .tech-description {
          margin-top: $space-1;
          font-size: $font5;
          @include for-size(tablet-portrait-up) {
            font-size: $font6;
          }
        }
      }
    }
  }
}

/*------------------------------------*\
  Technology Single
\*------------------------------------*/

.single-technology {
  .page-content-wrapper {
    margin-top: 4em;
    &.has-sidebar  {
      .page-content-container {
        display: flex;
        flex-direction: column-reverse;
        @include for-size(tablet-portrait-up) {
          flex-direction: row;
        }
      }
      .page-content {
        margin-bottom: $space2;
        @include for-size(tablet-portrait-up) {
          margin-bottom: 0;
          padding-right: 0;
          width: calc((100% / 12) * 8);
        }
      }
    }
  }
  #sidebar {
    @include for-size(tablet-portrait-up) {
      width: calc((100% / 12) * 4);
    }
  }
  #info-graphic-list-container {
    .content-inner {
      position: relative;
    }
    #info-graphic-list {
      margin: $space1 0 0 0;
      list-style: none;
      counter-reset: info-graphic-list-counter;
      display: flex;
      flex-direction: column;
      padding: 0;
      @include for-size(tablet-portrait-up) {
        margin: $space3 0 0 0;
        padding: 0 0 0 40px;
        .col-4 {
          width: calc((100% / 12) * 4);
        }
        .col-2 {
          width: calc((100% / 12) * 2);
        }
        .col-6 {
          width: calc((100% / 12) * 6);
        }
      }
      li {
        position: relative;
        counter-increment: info-graphic-list-counter;
        margin-bottom: 3em;
        @include for-size(tablet-portrait-up) {
          padding-bottom: 6em;
        }
        &::after {
          display: none;
          @include for-size(tablet-landscape-up) {
            display: block;
          }
        }
        &::before {
          position: absolute;
          left: 0px;
          top: 0;
          content: counter(info-graphic-list-counter, decimal-leading-zero);
          margin-right: 15px;
          font-size: $font2;
          font-weight: 300;
          color: $ionGrey1;
        }
        &:not(:first-of-type)::after {
          content: '';
          width: 16px;
          height: 2px;
          background-color: $ionBlack;
          position: absolute;
          left: -40px;
          top: 24px;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
        h2 {
          margin: 0 0 $space-1;
          position: relative;
          @include for-size(tablet-landscape-up) {
            padding-left: 1em;
          }
        }
        .info-graphic-content {
          margin-top: 40px;
          .flex {
            display: flex;
            flex-direction: column;
            padding: 0 1em;
            flex-wrap: nowrap;
            @include for-size(tablet-portrait-up) {
              flex-direction: row;
              padding: 0 3em;
            }
          }
        }
        .info-graphic-image-container {
          display: flex;
          align-items: center;
          margin-bottom: $space1;
          @include for-size(tablet-portrait-up) {
            margin-bottom: 0;
          }
          .info-graphic-image {
            height: 0;
            width: 100%;
            position: relative;
            padding-bottom: 100%;
          }
        }
        .info-graphic-divider {
          display: none;
          position: relative;
          @include for-size(tablet-portrait-up) {
            display: block;
          }
          &::before {
            content: '';
            height: 60%;
            width: 2px;
            background-color: $ionGrey1;
            position: absolute;
            left: 50%;
            top: 20%;
          }
          &::after {
            content: '';
            position: absolute;
            left: 25%;
            top: 50%;
            width: 25%;
            height: 2px;
            background-color: $ionGrey1;
          }
        }
        .info-graphic-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 1.3em;
          ul {
            list-style-type: none;
            li {
              &::before {
                content: '';
                position: absolute;
                display: block;
                left: -25px;
                top: 5px;
                border-style: solid;
                border-width: 6px 0 6px 6px;
                border-color: transparent transparent transparent $ionGreen ;
              }
            }
          }
          p {
            margin: 0 0 16px;
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
        &:nth-child(2n + 2) {
          .flex {
            @include for-size(tablet-portrait-up) {
              flex-direction: row-reverse;
            }
          }
          .info-graphic-divider {
            &::after {
              left: 50%;
            }
          }
          .info-graphic-text {
            ul {
              list-style-type: none;
              li {
                margin-bottom: $space1;

                &::after {
                  display:none;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*------------------------------------*\
  Technology Type Single
\*------------------------------------*/

.technology-x-insights {
  margin-top: 80px;
  .insight-item-container {
    padding: 20px;
    background-color: $ionGrey4;
    margin-bottom: 30px;
    .insight-item {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      @include for-size(tablet-portrait-up) {
        flex-direction: row;
      }
      .insight-item-image-container {
        position: relative;
        margin-bottom: $space1;
        @include for-size(tablet-portrait-up) {
          margin-bottom: 0;
          width: calc((100% / 12) * 4);
        }
        .insight-item-image {
          height: 0;
          padding-bottom: 100%;
        }
      }
      .insight-item-content {
        @include for-size(tablet-portrait-up) {
          padding-left: 3em;
          width: calc((100% / 12) * 8);
        }
        h4 {
          margin: 0 0 30px;
        }
        .insight-item-desc {
          margin-bottom: 30px;
        }
      }
    }
  }
}

/*------------------------------------*\
  Related Technologies
\*------------------------------------*/

#tech-type-children-container {
  margin-top: 24px;
  h3 {
    margin: 0 0 36px;
  }
  .tech-type-children {
    margin-bottom: $space1;
  }
}

.technology-group-title {
  border-bottom: 1px solid rgb(200,200,200);
}
.tech-child {
  padding: 0 1em;
  margin-bottom: 2rem;
  .tech-child-title {
    margin: 0 0 16px;
  }
  .tech-child-image {
    width: 100%;
    display: block;
    height: 0;
    padding-bottom: 30%;
  }
  .tech-child-desc {
    margin-top: $space-1;
  }
}

body.ie {
  #tech-landing {
    .tech-type {
      .tech-items {
        h2 {
          margin-left: 15px;
        }
        margin: 0 -15px;
        .tech-item {
          margin: 30px 15px;
        }
      }
    }
  }
  .technology-x-insights {
    .insight-item-container {
      .insight-item {
        @include for-size(tablet-portrait-up) {
          display: flex!important;
          flex-direction: row!important;
        }
        .insight-item-image-container {
          width: 20%;
          flex-shrink: 0;
        }
        .insight-item-content {
          padding-left: $space1;
        }
      }
    }
  }
}
