$ionOlive: rgb(96,96,75);
$ionOlive-60: rgba(96,96,75,.6);
$ionBlack: rgb(62,62,62);
$ionBlack-20: rgba(62,62,62,.2);
$ionGrey1: rgb(150,150,150);
$ionGrey2: rgb(200,200,200);
$ionGrey3: rgb(220,220,220);
$ionGrey4: rgb(245,245,245);
$ionGreen: #8DC73F;

$ibm: 'IBM Plex Sans', sans-serif;

// Text Sizes https://www.modularscale.com/?14&px&1.125
$fontp1: 3.247rem; //45.462px
$font1: 2.887rem; //40.411px
$font2: 2.027rem; //28.382px
$font3: 1.802rem; //25.228px
$font4: 1.424rem; //19.934px
$font5: 1.266rem; //17.719px
$font6: 1rem; //14px
$font-1: .889rem; //12.444px
$font-2: .79rem; //11.062px
$font-3: .702rem; //9.833px

// Space Sizes
$multiple: 1.2;
$space-1: calc(.857rem * #{$multiple}); //12px
$space1: calc(1.714rem * #{$multiple}); //24px
$space2: calc(3.429rem * #{$multiple}); //48px
$space3: calc(6.857rem * #{$multiple}); //96px
$space4: calc(10.28rem * #{$multiple}); //144px
$space5: calc(13.71rem * #{$multiple}); //188px;

// New Space Sizes https://www.modularscale.com/%3F14&px&1.125?12&px&1.5
$space-4: calc(.296rem * #{$multiple}); //3.556px
$space-3: calc(.444rem * #{$multiple}); //5.333px
$space-2: calc(.667rem * #{$multiple}); //8px
$space-1: calc(.75rem * #{$multiple}); //12px
$space1: calc(1.688rem * #{$multiple}); //27px
$space2: calc(3.375rem * #{$multiple}); //40.5px
$space3: calc(7.5rem * #{$multiple}); //60.76px
$space4: calc(7.594rem * #{$multiple}); //91.125px
$space5: calc(11.391rem * #{$multiple}); //136.88px
$space6: calc(17.086rem * #{$multiple}); //205px;

$ratio-3-2: 66.66%;
