.page-template-virtual-data {
  .page-content {
    padding: 0!important;
  }
  .page-content-container {
    @include for-size(md-down) {
      padding-top: 0!important;
    }
  }
  .virtual-logo {
    width: 90px;
    height: auto;
    display: block;
    position: absolute;
    top: 2rem;
    left: 3rem;
    z-index: 99;
    img {
      width: 100%;
      height: auto;
    }
    @include for-size(md-down) {
      width: 60px;
      top: 1rem;
      left: 2rem;
    }
  }
  background-color: #151515;
  #ion-smart-crumbs {
    display: none!important;
  }
  #primary-footer {
    display: none;
  }
  .site-header {
    display: none;
  }
  .site-footer {
    display: none;
  }
  #page {
    padding-left: 0!important;
  }
}

#full-width-slider-wrapper {
  position: relative;
  .slide-background {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
  }
  .slider-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    .content-inner {
      @include for-size(md-down) {
        padding-left: $space2!important;
        padding-right: $space2!important;
      }
      // @include for-size(tablet) {
      //   width: calc(100% / 3)!important;
      // }
    }
    .slider-overlay-image {
      .slider-logo {
        padding: 2rem 0;
        position: relative;
        z-index: 1;
        @include for-size(tablet) {
          padding: $space2 0 $space4;
        }
        img {
          position: relative;
          width: 100%;
          max-width: 70%;
          height: auto;
          object-fit:contain;
          object-position: auto;
          @include for-size(md-down) {
            max-width: 90%;
          }
        }
      }
    }

    .slider-overlay-content {
      width: 100%;
      color: white;
      z-index: 1;
      @include for-size(tablet) {
        padding-top: $space2;
      }
    }
  }
  .slider-arrow {
    position: absolute;
    z-index: 9;
    &::after {
      border-color: transparent transparent transparent white;
    }
    &.arrow-prev {
      right: 1rem;
      bottom: 3.5rem;
      border-color: white;
      @include for-size(tablet) {
        top: 50%;
        left: 1.5rem;
        bottom: auto;
      }
    }
    &.arrow-next {
      right: 1rem;
      bottom: 1rem;
      @include for-size(tablet) {
        top: 50%;
        right: 1.5rem;
        bottom: auto;
      }
      border-color: white;
    }
  }
  #full-width-slider {
    width: 100%;
    background: black;
    .full-width-slide {
      position: relative;
      min-height: 30vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-top: calc(#{$space3} - 2rem);
      @include for-size(tablet) {
        min-height: 70vh;
      }
      &::after {
        content: '';
        position: absolute;
        pointer-events: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgb(0,0,0);
        background: rgba(0,0,0,.4);
        @include for-size(tablet) {
          background: -moz-linear-gradient(80deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 18%, rgba(0,0,0,.3) 40%, rgba(0,0,0,0) 55%, rgba(0,0,0,0) 100%);
          background: -webkit-linear-gradient(80deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 18%, rgba(0,0,0,.3) 40%, rgba(0,0,0,0) 55%, rgba(0,0,0,0) 100%);
          background: linear-gradient(80deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 18%, rgba(0,0,0,.3) 40%, rgba(0,0,0,0) 55%, rgba(0,0,0,0) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
        }
      }
      .slide-content {
        width: calc(100% - 60px);
        color: white;
        padding-bottom: 1.5rem;
        z-index: 1;
        @include for-size(tablet) {
          padding-bottom: 3rem;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
        }
        h2 {
          font-weight: 500;
          color: white;
          margin-bottom: 0;
          font-size: 1.4rem;
          line-height: 1.3;
          text-shadow: 2px 2px #000000;
          @include for-size(tablet) {
            font-size: 2.5rem;
          }
        }
        p {
          font-size: 1.2rem;
          margin: 0;
          text-shadow: 2px 2px #000000;
        }
      }
    }
  }
}

.page-links-section {
  &:not(:last-of-type) {
    margin-bottom: $space2;
    border-bottom: 1px solid rgba(255,255,255,.5);
  }
  h2 {
    color: white;
    font-weight: 300;
  }
  .post-row-content {
    .post-row-item {
      width: 100%;
      @include for-size(tablet-portrait-up) {
        width: 50%!important;
      }
      @include for-size(tablet) {
        width: calc(100% / 3)!important;
      }
      .post-row-image-container {
        border: 1px solid rgba(255,255,255,.6);
        position: relative;
        sub {
          position: absolute;
          right: 1rem;
          bottom: 1rem;
          color: rgba(255,255,255,.7);
        }
        .overlay-title {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          padding: 1rem 1.5rem;
          text-align: center;
          img {
            width: 100px;
            height: auto;
            margin: 0 auto .5rem;
            position: relative;
          }
          p {
            margin: 0;
            font-weight: 600;
            font-size: 1.4rem;
          }
        }
      }
      h5, h5 a {
        color: white;
      }
      h5 {
        margin-top: .5rem;
        margin-bottom: 0;
      }
      p {
        color: white;
        font-size: 1.1rem;
      }
    }
  }
}

.page-template-data-tour {
  .page-content-container-inner {
    p {
      font-size: 1.2rem;
    }
  }
  .caldera-grid {
    margin-top: $space1;
    .alert {
      text-align: center;
      max-width: 600px;
      margin: 0 auto;
      background-color: rgba(0,0,0,.05);
      color: $ionBlack;
      padding: $space1;
      font-size: 1.3rem;
      h4 {
        font-size: 1.5rem;
      }
      &.alert-success {

      }
    }
    .last_col {
      position: sticky;
      top: 120px;
    }
    .btn.btn-default {
      border-radius: 5px;
      text-transform: uppercase;
      color: white;
      background-color: black;
    }
  }
  .data-tour-summary {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        cursor: pointer;
        font-weight: 600;
        position: relative;
        line-height: 1;
        padding: .5rem 0 .5rem 18px;
        &::before {
          content: 'x';
          width: 14px;
          height: 14px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 50%;
          border: 1px solid rgba(0,0,0,.5);
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          background-color: black;
          padding: 0 1px 1px 0;
        }
      }
    }
  }
}

#virtual-data-footer {
  .footer-content {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include for-size(tablet) {
      padding: 2rem $space2;
    }
    p {
      color: $ionGreen;
      margin: 0;
      font-size: 1.2rem;
      font-weight: 300;
    }
    .virtual-logo {
      position: relative;
      top: auto;
      left: auto;
    }
  }
}
