* {
  box-sizing: border-box;
}
html {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
}
body {
  margin: 0px;
}
a {
  text-decoration: none;
  color: rgb(62,62,62);
}
ul {
  list-style-type: none;
  padding: 0;
}
#container-master {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 4em;
  position: relative;
}

/*-----------------------------*\
  Nav Menu
\*-----------------------------*/

#nav-menu {
  position: absolute;
  display: none;
}
#treeview-panel {
  padding: 2rem 4rem 2rem 2rem;
}
#treeview-panel h2 {
  margin: 0 0 1rem;
}
.jstree-container-ul li {

}
.jstree-container-ul li a {
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 600;
  padding: 10px 0 6px 0;
  border-bottom: 1px solid rgb(200,200,200);
  display: block;
}
.jstree-container-ul li a.jstree-clicked {
  border-bottom: 2px solid black;
  font-weight: 700;
}
.jstree-container-ul li ul {
  padding: 1rem 0 1rem 1rem;
}
.jstree-container-ul li ul li a{
  border-bottom: 0;
  font-weight: 700;
}

/*-----------------------------*\
  Map
\*-----------------------------*/

#container-map {
  position: relative;
}
#container-ion-request-information {
  position: relative;
  float: right;
  padding: 1rem 0 0 0;
  display: flex;
  align-items: center;
}
#container-ion-request-information span {
  color: rgb(200,200,200);
}
#container-ion-request-information .gh-btn-filter-ion-map {
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
  font-size: .75rem;
  font-weight: 600;
  color: rgb(120,120,120);
  position: relative;
  padding: 0;
  margin-left: 20px;
}
#container-ion-request-information .gh-btn-filter-ion-map.gh-btn-filter-clicked {
  color: rgb(60,60,60);
}
#container-ion-request-information .gh-btn-filter-ion-map.gh-btn-filter-clicked::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(60,60,60);
}
.container-map-sizer {
  width: 100%;
  height: 0;
  padding-bottom: 70%;
}

/*-----------------------------*\
  Map Controller
\*-----------------------------*/

#map-controller-content {
  position: relative;
  z-index: 9;
}
#map-controller-content .map-button-controller li {
  margin-bottom: .5rem;
}
#map-controller-content ul {
  margin: 0 0 .5rem;
}
#map-controller-content ul li {
  width: 30px;
  height: 30px;
  background-color: rgb(80,80,80);
  background-size: 40%;
  background-position: center center;
  position: relative;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  margin-bottom: .5rem;
}
#map-controller-content ul li img{
  width: 100%;
  height: auto;
}
#map-controller-content ul li#toolbar-zoom-in + li {
  height: auto;
  background-color: transparent;
  display: none;
}
#map-controller-content ul li hr {
  color: transparent;
  border: none;
  margin: 3px 0;
}
#map-controller-content ul li #btn-ion-reset-default-state {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url('http://iongeo.wpengine.com/wp-content/uploads/2018/12/map.png');
  background-color: rgb(80,80,80);
  background-size: 40%;
  background-position: center center;
  background-repeat: no-repeat;
}
#map-controller-content ul li#toolbar-zoom-in {
  background-image: url('http://iongeo.wpengine.com/wp-content/uploads/2018/12/plus.png');
}
#map-controller-content ul li#toolbar-zoom-out {
  background-image: url('http://iongeo.wpengine.com/wp-content/uploads/2018/12/minus.png');
}
#map-controller-content ul li#toolbar-zoom-selection {
  background-image: url('http://iongeo.wpengine.com/wp-content/uploads/2018/12/select.png');
  background-size: 50%;
}
#map-controller-content ul li#toolbar-undo-zoom {
  background-image: url('http://iongeo.wpengine.com/wp-content/uploads/2018/12/arrow-left.png');
  background-size: 25%;
}
#map-controller-content ul li#toolbar-redo-zoom {
  background-image: url('http://iongeo.wpengine.com/wp-content/uploads/2018/12/arrow-left.png');
  background-size: 25%;
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
#map-controller-content ul li#toolbar-permalink {
  background-image: url('http://iongeo.wpengine.com/wp-content/uploads/2018/12/link.png');
  background-size: 50%;
}

.info-user {
  display: inline-block;
  margin-bottom: .5rem;
}
.group-button {
  display: inline-block;
  .5rem;
}
.map-button-controller {
  display: inline-block;
}

/*-----------------------------*\
  Popup
\*-----------------------------*/

.container-feature-data.opened {
  padding: .5rem;
}

.container-feature-title {
  padding: 1rem;
  font-size: 1rem;
}

#container-feature-info {
  position: absolute;
  top: 80px;
  left: 80px;
  background-color: white;
  z-index: 8;
  /*padding: 10px;*/
}
#container-feature-info::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 0;
  border-style: solid;
  border-width: 10px 11px 0 11px;
  border-color: #ffffff transparent transparent transparent;
}
.gh-popup-title {
  display: block;
  background-color: rgb(200,200,200);
  padding: .5rem 1rem;
  font-size: .79rem;
  text-transform: uppercase;
  font-weight: 600;
}

@media (min-width: 640px) {
  html {
    font-size: 14px;
  }
  #container-master {
    display: grid;
    column-count: 12;
    grid-template-columns: repeat(12, 1fr);
  }

  #treeview-panel {
    grid-column: 1 / 4;
    background-color: white;
    padding: 1rem 2rem 2rem 2rem;
  }

  #container-map {
    grid-column: 4 / 13;
  }

  #map-controller-content {
    position: absolute;
    right: .5rem;
    top: .5rem;
    z-index: 9;
  }
  #map-controller-content ul li {
    display: block;
  }
  .info-user {
    display: block;
  }
  .group-button {
    display: block;
  }
  .map-button-controller {
    display: block;
  }
}

@media (min-width: 400px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 300px) {
  html {
    font-size: 12px;
  }

}
